
.wrapUserPoints {
    background-color: #fff;
    min-height: 400px;

    .banner {
        position: relative;
        /*span {
            position: relative;
            left: 35px;
        }*/
        .payfor {
            width: 70px;
            height: 40px;
            position: relative;
            top: -47px;
            left: 251px;
            line-height: 40px;
            text-align: center;
        }

        .bgRed();
        height: 138px;
        line-height: 138px;
        text-align: center;
        color: #fff;

        span:nth-child(1) {
            font-size: 36px;
        }

        span:nth-child(2) {
            font-size: 14px;
            margin-left: 6px;
        }
    }

    .wrapTabTitle {
        .row {
            .colorBlue();
            background-color: #fff;
            border: 1px solid;
            .borderBlue();

            .selected {
                .bgBlue();
                color: #fff;
                /*height: 99%;*/
            }
        }
    }

    .pointList {
        .item-note {
            .colorRed();
        }
    }
}
