.wrapIndex {
	background-color: #eee;
	padding-bottom: 48px;

	.wrapMenuList {
		padding-bottom: 10px;

		.col:hover {
			background-color: #D0D0D0;
		}
		.content {
			text-align: center;

			.iconfont {
				font-size: 30px;
			}
		}
		.content>div:nth-child(1) {
			background-color: #ddd;
			.size(56px, 56px);
			.allRadius(50px);
			display: inline-block;
			padding-top: 18px;
			color: #fff;
			margin-bottom: 6px;
			margin-top: 2px;
		}
		.regulations>div:nth-child(1) {
			background-color: #ffd481;
		}
		.news>div:nth-child(1) {
			background-color: #4996e3;
		}
		.case>div:nth-child(1) {
			background-color: #d767f3;
		}
		.ask>div:nth-child(1) {
			background-color: #ebc03f;
		}
		.master>div:nth-child(1) {
			background-color: #ee745f;
		}
		.openVideo>div:nth-child(1) {
			background-color: #f7dcb0;
		}
		.update>div:nth-child(1) {
			background-color: #04c9b4;
		}
		.activity>div:nth-child(1) {
			background-color: #4996e3;
		}
	}
	.wrapAd {
		background-color: #fff;
		overflow: hidden;
		height: 158px;
		position: relative;
		/*padding: 10px;*/
		img {
			width: 100%;
			height: 158px;
		}
		.imgIndex{
			width: 100%;
			position: absolute;
			text-align: center;
			bottom: 6px;
			font-size: 28px;
		}
		div.rn-carousel-indicator span{
			color: #949292;
		}
		div.rn-carousel-indicator span.active{
			color: #fff;
		}
	}
}