.wrapMaster {
  .warpHeader{
    font-size: 17px;
    padding-left: 75px;
  }
    .content {
        .country {
            height: 50px;
            padding: 5px 5px;
            background-color: #EEEEEE;
            border-top: 1px #DDDDDD solid;
            border-bottom: 1px #DDDDDD solid;
            line-height: 40px;

            .spanStyle {
                color: #0095E1;
                float: left;
            }

            .selectStyle {
                min-width: 80px;
            }

            .confirm {
                float: right;
                width: 50px;
                height: 25px;
                background-color: #488DD2;
                line-height: 25px;
                text-align: center;
                position: relative;
                top: 7px;
            }
            a{
                color:#fff;
            }
        }

        .sortBy {
            height: 40px;
            background-color: #fff;
            border-top: 1px #DDDDDD solid;
            border-bottom: 1px #DDDDDD solid;
            line-height: 40px;
            text-align: center;
            font-size: 14px;

            .sort {
                color: #488DD2;
            }
        }

        .totalMaster {
            height: 40px;
            background-color: #fff;
            border-top: 1px #DDDDDD solid;
            border-bottom: 1px #DDDDDD solid;
            position: relative;

            span {
                position: relative;
                top: 17px;
                font-size: 16px;
            }
        }

        .wrapShowMore {
            position: relative;
            top: -26px;
        }
    }
  .wrapCardList{
    margin-top: 100px;
    .card{
      //margin-top: 35px;
      .item{
        .row{
          .col{
            .avatarImg{
              width: 40px;
              height: 40px;
              border-radius: 50% !important;
              position: relative;
              top: 4px;
              float: left;
//              h2{
//                padding-left: 16px;
//              }
            }
          }
        }
      }
    }
  }
}

.chooseDialog {
  overflow-y: hidden;
  overflow-x:hidden;
  max-height: 200px;
  margin-top: 20px;

  .country {
    margin: 10px;

    .spanStyle {
      color: #0095E1;
      float: left;
    }

    .selectStyle {
      min-width: 80px;
    }

    .list {
      width: 350px;
      float: left;
      min-height: 100px;

      .tagDiv {
        background-color: #E1DFDB;
      }
    }
  }

  .buttonStyle {
    width: 200px;
    height: 400px;
    margin-left: 80px;
    margin-bottom: 60px;

    .button {
      margin-top:30px;
      min-height: 24px;
      line-height: 24px;
    }
  }
}
