.wrapUserScore {
  background-color: #fff;
//  min-height: 400px;
  overflow: hidden;
  padding-bottom: 30px;
  .warpHeader{
    height: 43px;
    .borderBLine{
      border-bottom: 1px solid #ddd;
      margin: 0px;
    }
  }
  .banner {
    position: relative;
    background-color: #4C4C49;
    height: 210px;
//    line-height: 138px;
    text-align: center;
    color: #fff;
    .thisyear{
      padding: 36px;
      font-size: 17px;
    }
    .payfor {
      position: absolute;
      right: 13px;
      bottom: 13px;
      line-height: 31px;
      text-align: center;
      font-size: 13px;
      color: #fff;
      background-color: gold;
      border-radius: 4px;
      padding-left: 10px;
      padding-right: 10px;
    }

//    span:nth-child(1) {
//      font-size: 14px;
//      margin-left: 6px;
//    }

    span:nth-child(2) {
      font-size: 36px;
      color: gold;
    }
  }

  .wrapTabTitle {
    .row {
      color: #4996e3;
      background-color: #fff;
      border-radius: 0px;
      border: 1px solid #EAE9E6;
      .col{
        border-radius: 0px;
        color: #9A9691;
      }
      .selected {
        background-color: #2BA4F4;
        color: #fff;
      }
    }
  }

  .pointList {
    padding-bottom: 168px;
    .item{
      color: #9A9691;
    }
    .item-note {
      color: gold;
    }
  }
  .wrapAddComment {
    height: 60px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    border-top: 1px solid #ddd;
    z-index: 999;
    font-size: 16px;
    padding: 0 12px;
    .iconfont{
      font-size: 20px;
    }
  }
}