<div class="wrapComment">
    <div class="title" ng-show="pageData.optype==1">
    	{{pageData.TotalCount}}个回答
    </div>
    <div class="title" ng-show="pageData.optype!=1">
        {{pageData.TotalCount}}个评论
    </div>
    <div class="list">
		<!--<div class="item item-avatar">
			<img src="http://preview.comeoncloud.net/img/hb/hb7.jpg">
			<h2 class="colorBlue">你妹</h2>
			<p class="content whiteSpaceNormal">啊啊啊Back off, man. I'm a scientist.啊啊啊Back off, man. I'm a scientist.</p>
			<div class="operateBtns">
				<span class="time">一分钟前</span>
		        <i class="iconfont icon-dianzan"></i><span class="count">1</span>
		        <i class="iconfont icon-shequjubao"></i>
		    </div>
		    <div class="wrapSubList">
		    	<div class="subItem" ng-repeat="reply in [1,2,3,4,5]">
		    		<span class="userName colorBlue">如果：</span><span>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
		    	</div>
		    	<div>
	    			<a href="javascript:;" class="colorBlue font13">更多</a>
	    		</div>
		    </div>
		</div>-->
        <div class="item item-avatar" ng-repeat="item in pageData.comments">
            <img src="{{item.pubUser.avatar}}">
            <a class="colorBlue" ng-click="pageFunc.goTo(item)">{{item.pubUser.userName}}</a>
            <p class="time">{{item.createDate}}</p>
            <!--<span class="time">{{item.createDate}}</span>-->
            <p class="content whiteSpaceNormal" ng-bind-html="item.content"></p>
            <div class="operateBtns">
                
                <i class="iconfont icon-dianzan colorDDD" ng-show="!item.currUserIsPraise" ng-mousedown="pageFunc.praiseReview(item)"></i><span ng-show="!item.currUserIsPraise" class="count">{{item.praiseCount}}</span>
                <i class="iconfont icon-dianzan colorLightBlue" ng-show="item.currUserIsPraise" ng-mousedown="pageFunc.disReviewContent(item)"></i><span ng-show="item.currUserIsPraise" class="count">{{item.praiseCount}}</span>
                <i class="iconfont icon-xiaoxiguanli" ng-mousedown="pageFunc.showReplyDialog(item,'')"></i>
                <i class="iconfont icon-shequjubao" ng-mousedown="pageFunc.showReportDialog(item)"></i>
            </div>
            <div class="wrapSubList" >
                <div class="subItem" ng-repeat="reply in item.replyList" ng-mousedown="pageFunc.showReplyDialog(item,reply)">
                    <span class="userName colorBlue">{{reply.pubUser.userName}}<span class="mLeft_12"
      ng-show="reply.replayToUser && reply.replayToUser.userName && reply.replayToUser.userName != ''">
    回复 <a href="javascript:" class="userName mLeft5">{{reply.replayToUser.userName}}</a>
</span>：</span><span>{{reply.content}}</span>
                </div>
                <div ng-if="item.replyList.length<item.replyCount">
                    <a href="javascript:;" class="colorBlue font13" ng-mousedown="pageFunc.loadReplyList(item)">更多</a>
                </div>
            </div>
        </div>
        <div class="wrapShowMore" ng-if="pageData.comments.length < pageData.commentsTotalCount">
            <button class="button button-clear" ng-mousedown="pageFunc.loadCommentList()">查看更多</button>
        </div>
	</div>
	<div class="wrapAddComment colorBlue">
        <i class="iconfont icon-arrowleft floatL" ng-mousedown="pageFunc.goback()"></i>
        <span ng-mousedown="pageFunc.showDialog()" ng-show="pageData.optype!=1">添加评论</span>
        <span ng-mousedown="pageFunc.showDialog()" ng-show="pageData.optype==1">回答问题</span>
        <i class="iconfont icon-xiaoxiguanli" ng-mousedown="pageFunc.showDialog()"></i>
	</div>
</div>