.wrapMyPro{
  .content{
    margin-bottom: 130px;
    .row-sale {
      padding: 0px;
      .col-sale {
        text-align: center;
        border: 1px solid #ddd;
        background-color: #fff;
      }
    }

//    .padding{
//      padding-left: 120px;
//      padding-right: 120px;
//      .change{
//        min-height: 35px;
//        line-height: 31px;
//        border-radius: 4px;
//        font-size: 14px;
//      }
//    }

    .whole{
      background-color: #fff;
    }
    .wrapSearch{
      padding-top: 15px;
      padding-bottom: 15px;
      select{
        width: 80%;
        font-size: 16px;
        float: left;
        height: 28px;
      }
      .change{
        padding: 0px 12px 0px;
        min-width: 30px;
        min-height: 28px;
        font-size: 12px;
        line-height: 26px;
        margin-left: 8px;
        float: left;
      }
    }
  }
}