<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConStringEncrypt" value="false"/>
    <!--<add key="ConnectionString" value="server=.;database=CommonPlatform;uid=sa;pwd=zentcloud!@#$" />-->
    <add key="ConnectionString" value="server=115.29.205.58;database=CommonPlatform_Preview;uid=sa;pwd=comeoncloudzz!@#$" />
    <!--<add key="ConnectionString" value="server=192.168.1.143;database=CommonPlatform_DEV;uid=sa;pwd=!@#jubit123@" />-->
  </appSettings>
</configuration>

