.wrapLogin {
	background-color: #fff;
	height: 100%;
	.banner {
		padding: 28px 0 10px;
		text-align: center;

		img {
			height: 112px;
		}
	}
	.inputList {
        background-color: #fff;
		.list{
			width: 86%;
			margin: 0 auto;
			.item{
				border: 0px;
				border-bottom: 1px solid #44A5DF;
				margin: 0;
				padding-left: 0;
			}
		}
		i {
			color: #2690d0;
			font-size: 22px;
			margin-right: 12px;
		}
	}
}