/*
* @Author: Marte
* @Date:   2017-05-15 15:03:50
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-15 18:23:03
*/
html {
    height: 100%;
    width: 100%;
}

    html body {
        height: 100%;
        width: 100%;
    }

        html body .map {
            height: 100%;
        }

            html body .map .header {
                box-sizing: border-box;
                width: 100%;
                height: 50px;
                /*padding: 0 15px;*/
                line-height: 50px;
                background: #D1363A;
                color: #fff;
                text-align: center;
            }

                html body .map .header span {
                    float: left;
                }

                html body .map .header em {
                    line-height: 30px;
                    font-size: 14px;
                    margin-right: 10px;
                    display: inline-block;
                    font-style: normal;
                    border-bottom: 1px solid #D1363A;
                }

                    html body .map .header em.active {
                        border-bottom: 1px solid #fff;
                    }

                html body .map .header .headerCity {
                    position: fixed;
                    right: 5px;
                    top: 0px;
                }

                    html body .map .header .headerCity span {
                        font-size: 14px;
                    }

.select-city {
    box-sizing: border-box;
    position: fixed;
    top: 50px;
    right: 0;
    /*min-width: 215px;*/
    background: #fff;
    z-index: 3;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    width:100%;
    /*background-color: #333333;*/
    
}

    .select-city select {
        width: 100%;
        height: 35px;
        box-sizing: border-box;
        float: left;
        border: 1px solid #ededed;
        margin-top:5px;
        font-size:16px;
    }

    .select-city div {
        margin-top: 2px;
    }

.select-city-button {
    color: white;
    line-height: 35px;
    /*border: 1px solid #E80181;*/
    text-align: center;
    background: #fff;
    width: 100%;
    margin-top:10px;
    border:none;
    border-radius:5px;
}

html body .map .header .headerCity .site select {
    box-sizing: border-box;
    float: left;
    border: 1px solid #ededed;
}

html body .map .header .headerCity .site i {
    color: #f60;
    font-style: normal;
}

html body .map .container {
    height: 91% !important;
    top: 50px !important;
}

html body .map .storeMapList {
    width: 100%;
    height: 100%;
    background: #333333;
}

.storeName {
    color: #E80181;
}

.storeAddress {
    color: white;
    margin-left: 10px;
}

html body .map .storeMapList ul {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

    html body .map .storeMapList ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 20px 12px;
        /*border-bottom: 1px solid #ededed;*/
        list-style: none;
    }

        html body .map .storeMapList ul li em {
            width: 60px;
            height: 60px;
            float: left;
            text-align: center;
            vertical-align: middle;
        }

            html body .map .storeMapList ul li em img {
                max-height: 100%;
                max-width: 100%;
                vertical-align: middle;
            }

        html body .map .storeMapList ul li h3 {
            float: left;
            font-weight: normal;
        }

            html body .map .storeMapList ul li h3 p {
                font-size: 16px;
                color: #333;
            }

            html body .map .storeMapList ul li h3 span {
                font-size: 14px;
                color: #666;
            }

.store-info {
    position: fixed;
    bottom: 0px;
    background-color: #333333;
    width: 100%;
    z-index: 1000000;
    padding: 20px 0px 10px 0px;
}

.store-info-top {
    min-height: 80px;
    width: 100%;
}

.store-info-left {
    width: 75%;
    float: left;
}

.sotre-info-left-name {
    font-size: 18px;
    color: #E80181;
    width:90%;
    margin-left:10px;
}

.sotre-info-left-address {
    font-size: 14px;
    color: white;
     width:90%;
     padding-top:5px;
     margin-left:10px;
}

.store-info-right {
    width: 25%;
    color: white;
    float: left;
}

.store-info-right-title {
    font-size: 12px;
    float:right;
    margin-right:20px;
}

.store-info-right-range .range-number {
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-right: 20px;
}

.store-info-bottom {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.store-info-bottom-button {
    margin: auto;
    width: 30%;
    font-size: 18px;
    color: #E80181;
    line-height: 35px;
    border: 1px solid #E80181;
}

.geo-icon {
    width: 40px;
    height: 40px;
}

.icon-address {
   width: 20px;
    height: 20px;
    padding-top: 15px;
}

.address {
    margin-right: 5px;
}
