.wrapMy{
	background-image: url(/customize/10000care/m/static/img/care/my/bg.png);
	color: #fff;
	font-size: 20px;
	hr{
		border-color: rgba(235,237,243,0.4);
	}

	.list{
		.item{
			background-color: rgba(255,255,255,0);
			font-size: 20px;
			border-color: rgba(235,237,243,0.2);
			.iconfont:nth-child(1){
				font-size: 22px;
				margin-right: 10px;
			}
		}
		.item:hover{
			background-color: rgba(255,255,255,0.1);
		}
	}
	.header{
		height: 258px;
		padding-top: 50px;
		margin-bottom: 20px;
		.logo{
			border: 4px solid;
			width: 142px;
			height: 142px;
			margin: 0 auto;
			border-radius: 100px;
			padding: 2px;
			border-color: rgba(255,255,255,0.1);
			img{
				width: 128px;
				height: 128px;
			}

		}
		.title{
			
			margin-top: 20px;

		}
	}
}