<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=121.40.195.110;database=CommonPlatform_Dev2;uid=sa;pwd=comeoncloudzz!@#$" />
    <add key="WebSitePath" value="D:\\WebSite\\CommonPlatform" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <superSocket>
    <servers>
      <server name="SuperWebSocket" serverTypeName="SuperWebSocket">
        <listeners>
          <add ip="Any" port="70826" />
        </listeners>
      </server>
    </servers>
    <serverTypes>
      <add name="SuperWebSocket" type="SuperWebSocket.WebSocketServer, SuperWebSocket" />
    </serverTypes>
  </superSocket>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>