body{color:#5e5e5e;background-color:#fff;}
a, span.tag{color:#000;}
a.view_details{ background:url(images/bullet_cross.png) no-repeat left; }
a.button_11, a.button_12{color:#FFFFFF;}
#header{ background:url(../images/headerbg.png); color:#FFFFFF;}
.logo{ text-align:center; margin:auto; padding:35px 0 25px 0;font-size:30px;}
.logo img{max-width:65%;}
.logo, .logo a{ color:#FFFFFF;}

/* Google web font
/*------------------------------------------*/
h1, h2, h3, h4, h5, h6, .logo, .image_caption, a.button_12, a.button_11, .trigger a, .trigger_blog a, .post_left, .post_right_unreveal, #loadMore, #showLess, a.backtoblog, .form label, .form_submit, a.call_button, a.map_button{font-family: 'Lato', sans-serif;}
h2.page_title{color:#5e5e5e;}

/* Menu style
/*------------------------------------------*/
.menu{ width:100%; padding:0px;margin:0px 0 10px 0;}
.menu ul{ list-style:none; padding:0px; margin:0px; width:100%;}
.menu ul li{ list-style:none; margin:1% 0 1% 4%; padding:1% 0; width:43.6%;height:auto; float:left; display:block; text-align:center;border:0px #000 solid;
}
.menu ul li a{ color:#000; text-decoration:none;  text-align: center;} 
.menu ul li a span{ display:block; text-align:center; font-size:14px; line-height:35px;}
.menu ul li img{ display:inline-block;max-width:50%;}

.menu1{ width:100%; padding:0px;margin:0px 0 10px 0; background#e5e5e5;}
.menu1 ul{ list-style:none; padding:0px; margin:0px; width:100%;}
.menu1 ul li{ list-style:none; margin:0;width:33.33%;height:auto; float:left; display:block; text-align:center;}
.menu1 ul li a{ color:#6d6d6d; text-decoration:none;  text-align: center;} 
.menu1 ul li a span{ display:block; text-align:center; font-size:14px; line-height:25px;}
.menu1 ul li img{ display:inline-block;max-width:30%;min-width:30px; padding-top:10px}

.userli{font-size:16px;width: 96%; margin-left:2% }
.userli li{border:1px #e2e2e2 solid; height:50px; line-height:50px;width: 100%; background-color:#fff; margin-bottom:10px; padding-top:15px; padding-bottom:15px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.userli li a{ color:#6d6d6d;}
.userli img{ width:50px;vertical-align:middle; padding:0 10px 0 10px }
.userli span img{ width:15px;vertical-align:middle;float:right;  text-align:left;padding-top:15px; padding-right:10px}

.userli1{font-size:14px;width: 96%; margin-left:2% }
.userli1 li{border:1px #e2e2e2 solid; height:80px;width: 100%; background-color:#fff; margin-bottom:10px; padding-top:15px; padding-bottom:15px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.userli1 li a{ color:#6d6d6d;height:80px;width: 100%; display:block;float:left}
.userli1 li h3{ color:#6d6d6d;float:left; margin-left:100px; margin-top:-80px;font-size:14px; font-weight:bolder}
.userli1 li p{ color:#6d6d6d;float:left; margin-left:100px; margin-top:-40px;}
.userli1 img{ width:80px;vertical-align:middle; padding:0 10px 0 10px ;float:left;}

.sliderbg_menu{background:#fff; }
.sliderbg{ background-color:#F6F6F6; border:0px #000 solid;  background-image: url(../images/homebg.png);
background-repeat: no-repeat;
background-position: center center; 
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;}

.scrolltop{ background-color:#556d3e;}
.gohome{}
.gomenu{}

.pages_container{ margin:42px 0; padding:0px 0; border:0px #dddddd solid; width:100%; }
.index_container{ padding:20px 1.5%;  width:100%;}
.toogle_wrap{border:1px #ececec solid;}
.trigger{background:url(images/toggle.png) no-repeat right;background-position:100% -22px;}
.active {background-position:100% 0px; }
.trigger a{color: #636363;}
.trigger a:hover, .trigger a:hover:focus{color:#4a8d09;}
.toogle_wrap_blog{background-color:#85af5d;}
.trigger_blog{background:url(images/toggle_blog.png) no-repeat right;background-position:100% -22px;}
.activeb {background-position:100% 0px; }
.trigger_blog a{color: #fff;}
.trigger_blog a:hover, .trigger_blog a:hover:focus{color:#fff;}
ul.tabsmenu li a{color:#B99851;border:1px #B99851 solid;}
ul.tabsmenu li.active a{ color:#fff; background:#B99851}
ul.tabsmenu li:first-child a{ float:left; margin:0 0 0 0;-moz-border-radius-bottom-left:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-top-left:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;}
ul.tabsmenu li:last-child a{ float:left; margin:0 0 0 0;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;-moz-border-radius-top-right:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;}

ul.tabsmenu1 li a{color:#B99851;border:1px #B99851 solid;}
ul.tabsmenu1 li.active a{ color:#fff; background:#B99851}
ul.tabsmenu1 li:first-child a{ float:left; margin:0 0 0 0;-moz-border-radius-bottom-left:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-top-left:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;}
ul.tabsmenu1 li:last-child a{ float:left; margin:0 0 0 0;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;-moz-border-radius-top-right:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;}
.tabcontent{border:1px #ececec solid;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;
-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;}

.image_single{ background-color:#f4f4f4; border:1px solid #ececec;}
blockquote{border-top:1px solid #ececec;border-bottom:1px solid #ececec;}
ul.listing_detailed li {background:url(images/bullet_checked.png) no-repeat left #f4f4f4; background-position:10px 5px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}

ul.photo_gallery_13 li, ul.photo_gallery_12 li, ul.photo_gallery_11 li{border:1px #e5e5e5 solid;border-bottom-color:#d0cfcd;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
ul.photo_gallery_13 li img, ul.photo_gallery_12 li img{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
ul.photo_gallery_11 li img{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
ul.photo_gallery_13_round li{border:1px #e5e5e5 solid;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;}
ul.photo_gallery_13_round li img{-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;}

.post_left{color:#FFFFFF;background-color:#85af5d;
-moz-border-radius-topleft:8px;-webkit-border-top-left-radius:8px;border-top-left-radius:8px;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;border-bottom-left-radius:8px;
}
.post_right_reveal{background-color:#f4f4f4;}
.post_right_unreveal{color:#FFFFFF;background-color:#85af5d;}
.post_right_unreveal a{color:#FFFFFF;}
a.post_more{background:url(images/bullet_cross_big.png) no-repeat center center #e2e2e2;
-moz-border-radius-topright:8px;-webkit-border-top-right-radius:8px;border-top-right-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;border-bottom-right-radius:8px; text-align:center;
}
a.activep{background:url(images/bullet_cross_big_close.png) no-repeat center center #e2e2e2;}
span.post_comments{background:url(images/comments.png) no-repeat left;}
a.post_readmore{background:url(images/bullet_cross_white.png) no-repeat left;}
#loadMore, #showLess, a.backtoblog{background-color:#b2b2b2;color:#FFFFFF;}
.comment_row{border-bottom:1px #ddd solid;}
.comm_avatar img{-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;}

.videocontainer{border:1px #e5e5e5 solid;border-bottom-color:#d0cfcd;}

.portfolio_item{border:1px #ececec solid;}
.portfolio_details h4{color:#4a8d09;}

.service_box, .client_row{border-bottom:1px #ddd solid;}
.services_icon{background-color:#b2b2b2;-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;}

ul.responsive_table li:first-child{background-color:#85af5d;color:#FFFFFF;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;
-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;}
ul.responsive_table li:last-child{-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;
-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;
}
li.table_row{background-color:#e6e6e6;}
.tweet li{border:1px #ececec solid;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}

.form label.error{color:#990000;}
.form_input, .form_textarea{border:1px #ddd solid;}
.form_submit{color:#fff;}

ul.social li{ -webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;}

a.call_button{ background:#BAB851;color:#fff; font-size:14px; padding:8px; width:200px}
a.map_button{ background:#BAB851;color:#fff; font-size:14px; padding:8px;width:200px}




/* -yzy -*/
.m_wx_title {
height: 36px;
line-height: 36px;
color: #666;
background-color: #b9b3ae;
}

.m_wx_title ul li.time {
float: right;
height: 32px;
line-height: 32px;
margin-top: 4px;
width: 60px;
text-align: center;
}
.m_wx_title ul li.time_selected {
	background-color:#fff;
}


#other_sel_div{
	display:none;	
	background-color:#D6D1BE;
	border:1px solid #ccc;
}
#other_sel_div p
{
    height:15px;
	border:1px solid #ccc;
}

#other_sel_div1{
	display:none;	
	background-color:#D6D1BE;
	border:1px solid #ccc;
}
#other_sel_div1 p
{
    height:15px;
	border:1px solid #ccc;
}


.tr_border_bottom {
border-bottom: 1px solid #E4E4E4;
}
.tr_border_top{
border-top: 1px solid #E4E4E4;
}
.first_col_top 
{
 padding-left: 6px;
height:28px;
line-height:28px;
background-color:#D6D1BE;
border: 1px solid #e2e2e2;
}
.first_col {
background:#fff;
border-right: 1px solid #e2e2e2;
border-left: 1px solid #e2e2e2;
padding-left: 6px;
height:28px;
line-height:28px
}
.td_l{ color:#B99951; padding-right:10px; text-align:right; min-width:50px}
.td_l1{ color:#B99951; padding-right:10px; text-align:right; min-width:70px}
.td_b_bottom{border-bottom: 1px solid #B99951;height:35px;
line-height:35px}


.icon-plus {
background-position: -408px -96px;
}
.icon-upload {
background-position: -144px -24px;
}
.icon-white, .nav-pills>.active>a>[class^="icon-"], .nav-pills>.active>a>[class*=" icon-"], .nav-list>.active>a>[class^="icon-"], .nav-list>.active>a>[class*=" icon-"], .navbar-inverse .nav>.active>a>[class^="icon-"], .navbar-inverse .nav>.active>a>[class*=" icon-"], .dropdown-menu>li>a:hover>[class^="icon-"], .dropdown-menu>li>a:focus>[class^="icon-"], .dropdown-menu>li>a:hover>[class*=" icon-"], .dropdown-menu>li>a:focus>[class*=" icon-"], .dropdown-menu>.active>a>[class^="icon-"], .dropdown-menu>.active>a>[class*=" icon-"], .dropdown-submenu:hover>a>[class^="icon-"], .dropdown-submenu:focus>a>[class^="icon-"], .dropdown-submenu:hover>a>[class*=" icon-"], .dropdown-submenu:focus>a>[class*=" icon-"] {
background-image: url("../images/glyphicons-halflings-white.png");
}
[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: 14px;
height: 14px;
margin-top: 1px;
line-height: 14px;
vertical-align: text-top;
background-image: url("../images/glyphicons-halflings.png");

}



/* Flex images slider
/*-----------------------------------------------------------------------------------*/
.flex-container a:active,
.icons_nav a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 


.panels_slider {width: 100%; height:100%; margin: 0; padding: 0;}
.panels_slider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.panels_slider .slides img {max-width: 100%; width:800px; display: block;text-align:center; top:50%}


.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}

.icons_nav { position: relative;zoom: 1;}
.icons_nav .slides {zoom: 1;}
.icons_nav .slides > li {position: relative; }
.flex-container {zoom: 1; position: relative;}

.panels_slider ol.flex-control-nav {width: 100%; position: absolute; margin-top:-30px;  text-align: center;}
.images_slider ol.flex-control-nav {width: 100%; position: absolute; bottom:0%; text-align: center; background:url(../images/nav_bg.png) repeat-x top; padding:15px 0 15px 0;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 20px; height: 20px; display: block; background: url(../images/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -24px;}
.flex-control-nav li a.active {background-position: 0 -47px; cursor: default;}



/* CSS Media Queries
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
.menu ul li{  padding:5% 0%;width:43.5%;margin: 1% 0 2% 3.5%;}
.pages_container{ min-height:700px;}
}
@media screen and (max-width: 360px) {
.menu ul li{  padding:4.6% 0.3%;width:43.5%;margin:1% 0 2% 3.2%;}
.pages_container{ min-height:700px;}


}
@media screen and (max-width: 320px) {
.menu ul li{  padding:4.1% 0.1%;width:43.5%;margin:1% 0 2% 3.5%;}


}