.wrapCashRecord{
  .content{
    margin-bottom: 120px;
    //text-align: center;
    .list-reset{
      margin-left: 30px;
      margin-right: 30px;
    }

    .padding{
      padding-left: 120px;
      padding-right: 120px;
      .change{
        min-height: 35px;
        line-height: 22px;
        border-color: #285E8E;
        background-color: #2D6CA2;
        border-radius: 4px;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .list{
      margin-bottom: 0px;
      .money{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}