.user-detail {
    margin-top: 30px;

    .detail-title {
        font-size: 20px;
        color: #040404;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: normal;
    }

    .detail-user {
        margin-top: 5px;

        .user-heading {
            width: 32px;
            height: 32px;
            float: left;

            .head-img {
                width: 100%;
                height: 100%;
            }
        }

        .detail-nick {
            float: left;
            line-height: 37px;
            margin-left: 10px;
            color: #ff8e00;
            font-size: 13px;
        }

        .time {
            float: left;
            margin-left: 20px;
            margin-top: 8px;
            color: #D7D7D7;
            font-size: 13px;
        }
    }

    .detail-content {
        line-height: 22px;
        font-size: 13px;
        margin-top: 10px;
        word-wrap: break-word;
        word-break: normal;
        color: #010101;
        img{
            width:100%;
        }
    }

    .warp-shengming {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 15px;
        color: #8A6D3B;
        text-align: center;
        vertical-align: middle;
        line-height: 25px;
        padding-left: 100px;
        padding-right: 100px;
        border: 1px solid #FAEBCC;
        background: #FCF8E3;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;

        span {
            color: #8A6D3B !important;
            font-size: 15px !important;
            background: #FCF8E3 !important;
            line-height: 25px;
        }
    }

    .detail-btn {
        padding: 40px 15px 0px 15px;

        button {
            width: 110px;
            height: 40px;

            img {
                width: 20px;
                height: 20px;
            }
        }

        .btn-dianzan {
        }

        .btn-deldianzan {
        }

        .dianzan {
            float: right;
            line-height: 40px;
        }
    }

    .detail-comment {
        margin-top: 40px;

        textarea {
            width: 100%;
            height: 80px;
        }
    }

    .detail-comment-btn {
        text-align: right;

        button {
            width: 70px;
            height: 28px;
            background: #ff8e00;
            color: #fff;
            margin-top: 30px;
            padding: 0px;
            border-color: rgb(246, 131, 26);
        }
    }

    .comment-font {
        margin-top: 30px;
        font-size: 19px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }

    .comment-content {
        margin-bottom: 15px;
        padding-bottom: 15px;

        .comment-item {
            border-bottom: 1px dashed #ccc;
            padding-bottom: 20px;
            margin-bottom: 20px;

            .userimg {
                padding-left: 7px;

                img {
                    width: 34px;
                    height: 34px;
                }
            }

            .rowContent {
                margin-top: 4px;

                .username {
                    float: left;
                    color: #ff8e00;
                    font-size: 12px;
                }

                .time {
                    margin-left: 15px;
                    float: left;
                }

                .k3 {
                    .k1 {
                        margin-left: 10px;
                    }

                    .k2 {
                        margin-left: 10px;
                        color: #337ab7;
                    }
                }
            }

            .rowButtom {
                margin-top: 8px;
                line-height: 20px;
            }

            .rowHuifu {
                margin-top: 7px;
                padding-bottom: 10px;

                .huiu-font {
                    cursor: pointer;
                    color: #AFA9A9;
                    margin-left: 5px;
                }

                .huiu-count {
                    cursor: pointer;
                    color: #AFA9A9;
                    margin-left: 5px;
                }

                .rcount {
                    color: #AFA9A9;
                    margin-left: 5px;
                    display: none;
                }
            }

            .add-content {
                border: 1px solid #ccc;
                min-height: 130px;
                border-radius: 5px;

                .content-text {
                    margin-top: 20px;

                    .form-control {
                        height: 38px;
                    }
                }

                .content-button {
                    text-align: right;
                    margin-top: 10px;

                    button {
                        width: 70px;
                        height: 28px;
                        padding: 0px;
                    }
                }

                .rList {
                    padding: 15px;
                }

                .detail-more-reply {
                    padding: 70px 150px 30px 150px;
                    button {
                        width: 100%;
                        height: 40px;
                        background-color: #F4F4F4;
                        color: #333;
                    }
                }
            }
        }
    }

    .detail-more-comment {
        margin-top: 40px;

        button {
            width: 100%;
            height: 40px;
            background-color: #F4F4F4;
            color: #333;
        }
    }

    .stock-nav {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-bottom: 30px;

        .font1 {
            font-size: 15px;
            color: #000;
        }

        .font2 {
            color: #ff8e00;
            font-size: 40px;
        }

        .font3 {
            margin-top: 20px;

            button {
                background-color: #ff8e00;
                color: #fff;
                width: 250px;
                height: 45px;
                border-radius: 0px;
                border-color: rgb(246, 131, 26);
            }
        }
    }

    .detail-right {
        width: 100%;
        height: 100%;
        text-align: center;

        .font1 {
            font-size: 15px;
            color: #000;
        }

        .font2 {
            color: #ff8e00;
            font-size: 40px;
        }

        .font3 {
            margin-top: 20px;

            button {
                background-color: #ff8e00;
                color: #fff;
                width: 250px;
                height: 45px;
                border-radius: 0px;
                border-color: rgb(246, 131, 26);
            }
        }

        .font4 {
            margin-top: 20px;

            .table {
                background-color: #FBFBFB;

                tbody {
                    tr {
                        td {
                            border-bottom: 1px solid #ddd;
                            border-top: 0px solid #ddd;
                        }
                    }
                }
            }

            .tb-title {
                font-size: 15px;
                padding-bottom: 10px;
            }
        }

        .font5 {
            margin-top: 15px;
        }
    }
}

.layui-layer-reward {
    .col-xs-4, .col-xs-8 {
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }

    .col-xs-4 {
        text-align: right;
    }
}

.jiathis_style > div {
    border: 0px solid #7F7F7F !important;
}

.jt_sharetitle > td {
    padding: 0px 10px !important;
}
