<div class="layout boxMain warpUpdate">
    <div class="row">
        <div class="col-xs-12">
            <div class="subTitle">
                <span>
                    <i class="iconfont icon-zhuiocn"></i>
                    <span class="titleText">社区</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="warpCateFilter" ng-show="pageData.cateList.length > 1">
                <div class="floatL filterTitle">
                    <ul class="cateList">
                        <li><span class="first">社区选择：</span></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="floatL filterList">
                    <ul class="cateList">
                        <li ng-repeat="item in pageData.cateList">
                            <a href="javascript:;" class="cate" ng-click="pageFunc.selectCate(item)" ng-class="{selected:item.id == pageData.currSelectCate.id}">
                                {{item.name}}
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="warpSummary">
                <ul>
                    <li class="summaryImg">
                        <img src="{{pageData.currSelectCate.img}}" alt="{{pageData.currSelectCate.name}}" />
                    </li>
                    <li class="baseInfo">
                        <button ng-if="!pageData.currSelectCate.userIsFollow" class="btn btn-primary pLeft30 pRight30 btnFavorite" ng-click="pageFunc.followArticleCategory(pageData.currSelectCate)">关注</button>
                        <button ng-if="pageData.currSelectCate.userIsFollow" class="btn btn-warning pLeft30 pRight30 btnFavorite" ng-click="pageFunc.disFollowArticleCategory(pageData.currSelectCate)">取消关注</button>
                        <div class="name">
                            {{pageData.currSelectCate.name}}社区
                        </div>
                        <div class="count">
                            成员数：{{pageData.currSelectCate.followUserCount}}人
                        </div>
                        <div class="count">
                            动态数：{{pageData.currSelectCate.articleCount}}条
                        </div>
                        <div class="createDate">
                            创建时间：{{pageData.currSelectCate.createTime | date:'yyyy-MM-dd'}}
                        </div>
                    </li>
                    <li class="summary">
                        <div class="txtLeft">
                            <i class="iconfont icon-doublequotesleft colorBlue font26"></i>
                        </div>
                        <div class="font16 txtCenter overflow_ellipsis widthFull pTop15">
                            <span ng-if="pageData.currSelectCate.summary == ''">这里是{{pageData.currSelectCate.name}}社区</span>
                            <span ng-if="pageData.currSelectCate.summary != ''">{{pageData.currSelectCate.summary}}</span>
                        </div>
                        <div class="txtRight">
                            <i class="iconfont icon-doublequotesright colorBlue font26"></i>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="warpMain">
        <div class="mainLeft floatL">
            <div class="warpAddUpdate">
                <textarea id="txtCurrPostUpdate" ng-model="pageData.currPostUpdate" class="form-control" rows="4" placeholder="今天你发动态了吗?"></textarea>
                <div class="warpOperate">
                    <button class="btn btn-primary floatR mLeft30 pLeft30 pRight30 " ng-click="pageFunc.addArticle()">发表</button>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="warpUpdateDataPannel" class="warpUpdateDataPannel warpCommTab">              
                <ul class="tabTitle clear">
                    <li ng-repeat="item in pageData.tabs"
                        ng-click="pageFunc.tabSelect(item)"
                        ng-class="{active:pageData.currTab.id==item.id}">
                        {{item.title}}
                    </li>
                </ul>
                <div class="tabContent" ng-if="pageData.currTab.id==0">
                    <div class="warpCommentList boxMainText_PL">
                        <!--最新动态列表-->
                        <div class="list" ng-repeat="item in pageData.articleList">
                            <div class="listL">
                                <a href="#/userspace/{{item.pubUser.id}}">
                                    <img src="{{item.pubUser.avatar}}" class="avatar">
                                </a>
                                <!--<img src="{{item.pubUser.avatar}}" class="avatar">-->
                            </div>
                            <div class="listR">
                                <a href="#/userspace/{{item.pubUser.id}}" class="userName">{{item.pubUser.userName}}</a>
                                <span>{{item.createDate | date:'yyyy-MM-dd'}}</span>
                                <p class="content" ng-bind-html="item.summary">
                                </p>
                                <div class="listBtn">
                                    <span class="pl01" ng-click="pageFunc.showCommentList(item)" ng-show="!item.commentSubmitShow && item.commentCount > 0">
                                        {{item.commentCount}}条评论
                                    </span>
                                    <span class="pl01" ng-click="pageFunc.showCommentList(item)" ng-show="!item.commentSubmitShow && item.commentCount == 0">
                                        添加评论
                                    </span>
                                    <span class="pl01" ng-click="pageFunc.hideCommentList(item)" ng-show="item.commentSubmitShow">
                                        收起评论
                                    </span>
                                    <span class="pl02" ng-click="pageFunc.disPraiseContent(item)" ng-show="item.currUserIsPraise==1">{{item.praiseCount}}个赞</span>
                                    <span class="pl02" ng-click="pageFunc.praiseContent(item)" ng-show="item.currUserIsPraise==0">{{item.praiseCount}}个赞</span>
                                    <!--<span class="pl03" ng-click="pageFunc.reportIllegalContent(item)">举报</span>-->
                                    <span class="pl03" ng-click="pageFunc.showReportList(item)" ng-show="!item.isShowReport">举报</span>
                                    <span class="pl03" ng-click="pageFunc.hideReportList(item)" ng-show="item.isShowReport">收起举报</span>
                                    <span class="pl04" ng-click="pageFunc.favoriteArticle(item)">收藏</span>
                                </div>
                                <div class="boxMainText_PL warpReplyList" ng-show="item.subListShow">
                                    <!--评论回复提交-->
                                    <div class="warpReplySubmit" ng-show="item.commentSubmitShow">
                                        <div id="txtComment_{{item.id}}" class="txtComment txtContent" contenteditable="true"></div>
                                        <div class="warpOperate">
                                            <button class="btn btn-primary floatR mLeft30" ng-click="pageFunc.submitComment(item)">回复</button>
                                            <div class="btnCancel floatR">
                                                <!--<label ng-click="pageFunc.hideReplySubmit(item)">
                                                  取消
                                                </label>-->
                                            </div>
                                            <div class="checkbox floatR">
                                                <label>
                                                    <input id="chkComment_{{item.id}}" type="checkbox"> 匿名
                                                </label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <!--回复列表-->
                                    <div class="list" ng-repeat="reply in item.commentList">
                                        <div class="listL">
                                            <a href="#/userspace/{{reply.pubUser.id}}">
                                                <img src="{{reply.pubUser.avatar}}" class="avatar">
                                            </a>
                                            <!--<img src="{{reply.pubUser.avatar}}" class="avatar">-->
                                        </div>
                                        <div class="listR">
                                            <a href="#/userspace/{{reply.pubUser.id}}" class="userName">{{reply.pubUser.userName}}</a>
                                            <span class="mLeft_8">{{reply.createDate | date:'yyyy-MM-dd'}}</span>
                                            <span class="mLeft_12" ng-show="reply.replayToUser && reply.replayToUser.userName && reply.replayToUser.userName != ''">回复 <a href="#/userspace/{{reply.replayToUser.id}}" class="userName mLeft5">{{reply.replayToUser.userName}}</a></span>
                                            <p class="content" ng-bind-html="reply.content">
                                            </p>
                                            <div class="listBtn">
                                                <span class="pl01" ng-click="pageFunc.showReplyList(reply)" ng-show="!reply.subListShow">
                                                    添加回复
                                                </span>
                                                <span class="pl01" ng-click="pageFunc.hideReplyList(reply)" ng-show="reply.subListShow">
                                                    收起回复
                                                </span>
                                                <!--<span class="pl02" ng-click="pageFunc.praiseReview(reply)">{{reply.praiseCount}}个赞</span>-->
                                                <span class="pl02" ng-click="pageFunc.disPraiseContent(reply)" ng-show="reply.currUserIsPraise">{{reply.praiseCount}}个赞</span>
                                                <span class="pl02" ng-click="pageFunc.praiseContent(reply)" ng-show="!reply.currUserIsPraise">{{reply.praiseCount}}个赞</span>

                                                <!--<span class="pl03" ng-click="pageFunc.reportIllegalReview(reply)">举报</span>-->
                                                <span class="pl03" ng-click="pageFunc.showReportList(reply)" ng-show="!reply.isShowCommentReport">举报</span>
                                                <span class="pl03" ng-click="pageFunc.hideReportList(reply)" ng-show="reply.isShowCommentReport">收起举报</span>
                                            </div>
                                            <!--回复的回复提交-->
                                            <div class="boxMainText_PL warpReplyList" ng-show="reply.replySubmitShow">
                                                <div class="warpReplySubmit" ng-show="reply.replySubmitShow">
                                                    <div id="txtComment_{{item.id}}_{{reply.id}}" class="txtComment txtContent" contenteditable="true" aria-label="写下你的回复……"></div>
                                                    <div class="warpOperate">
                                                        <button class="btn btn-primary floatR" ng-click="pageFunc.submitComment(item,reply)">回复</button>
                                                        <div class="btnCancel floatR">
                                                            <label ng-click="pageFunc.hideReplyList(reply)">
                                                                取消
                                                            </label>
                                                        </div>
                                                        <div class="checkbox floatR">
                                                            <label>
                                                                <input id="chkComment_{{item.id}}_{{reply.id}}" type="checkbox"> 匿名
                                                            </label>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--回复的举报提交-->
                                            <div class="warpReplySubmit" ng-show="reply.isShowCommentReport">
                                                <div id="txtReport_{{item.id}}_{{reply.id}}" class="txtComment txtContent" contenteditable="true" ng-model="pageData.currReportContent" aria-label="写下你的举报原因……"></div>
                                                <div class="warpOperate">
                                                    <button class="btn btn-primary floatR mLeft30" ng-click="pageFunc.reportIllegalReview(item,reply)">举报</button>
                                                    <div class="btnCancel floatR">
                                                    </div>
                                                    <div class="checkbox floatR">
                                                        <label>
                                                            <input id="chkReport_{{item.id}}_{{reply.id}}" type="checkbox"> 匿名
                                                        </label>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--加载更多回复-->
                                    <div class="more_btn" ng-show="item.commentCount > 0 && item.commentCount > item.commentList.length">
                                        <a href="javascript:" class="pl_input1 grad radius6" ng-click="pageFunc.loadCommentList(item)">显示更多回复</a>
                                    </div>
                                </div>

                                <div class="boxMainText_PL warpReplyList" ng-show="item.isShowReport">
                                    <!--评论中的举报提交-->
                                    <div class="warpReplySubmit" ng-show="item.isShowReport">
                                        <div id="txtReport_{{item.id}}" class="txtComment txtContent" contenteditable="true" ng-model="pageData.currReportContent" aria-label="写下你的举报原因……"></div>
                                        <div class="warpOperate">
                                            <button class="btn btn-primary floatR mLeft30" ng-click="pageFunc.reportIllegalReview(item,null)">举报</button>
                                            <div class="btnCancel floatR">
                                            </div>
                                            <div class="checkbox floatR">
                                                <label>
                                                    <input id="chkReport_{{item.id}}" type="checkbox"> 匿名
                                                </label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="more_btn" ng-show="pageData.articleList.length < pageData.totalCount">
                            <a href="javascript:" class="pl_input1 grad radius6" ng-click="pageFunc.loadArticleList(false)">加载更多动态</a>
                        </div>
                    </div>
                </div>
                <div class="tabContent" ng-if="pageData.currTab.id==1">
                    <div class="warpCommentList boxMainText_PL">
                        <!--最新动态列表-->
                        <div class="list" ng-repeat="item in pageData.articleList">
                            <div class="listL">
                                <a href="#/userspace/{{item.pubUser.id}}">
                                    <img src="{{item.pubUser.avatar}}" class="avatar">
                                </a>
                                <!--<img src="{{item.pubUser.avatar}}" class="avatar">-->
                            </div>
                            <div class="listR">
                                <a href="#/userspace/{{item.pubUser.id}}" class="userName">{{item.pubUser.userName}}</a>
                                <span>{{item.createDate | date:'yyyy-MM-dd'}}</span>
                                <p class="content" ng-bind-html="item.summary">
                                </p>
                                <div class="listBtn">
                                    <span class="pl01" ng-click="pageFunc.showCommentList(item)" ng-show="!item.commentSubmitShow && item.commentCount > 0">
                                        {{item.commentCount}}条评论
                                    </span>
                                    <span class="pl01" ng-click="pageFunc.showCommentList(item)" ng-show="!item.commentSubmitShow && item.commentCount == 0">
                                        添加评论
                                    </span>
                                    <span class="pl01" ng-click="pageFunc.hideCommentList(item)" ng-show="item.commentSubmitShow">
                                        收起评论
                                    </span>
                                    <span class="pl02" ng-click="pageFunc.praiseContent(item)">{{item.praiseCount}}个赞</span>
                                    <!--<span class="pl03" ng-click="pageFunc.reportIllegalContent(item)">举报</span>-->
                                    <span class="pl03" ng-click="pageFunc.showReportList(item)" ng-show="!item.isShowReport">举报</span>
                                    <span class="pl03" ng-click="pageFunc.hideReportList(item)" ng-show="item.isShowReport">收起举报</span>
                                    <span class="pl04" ng-click="pageFunc.favoriteArticle(item)">收藏</span>
                                </div>
                                <div class="boxMainText_PL warpReplyList" ng-show="item.subListShow">
                                    <!--评论回复提交-->
                                    <div class="warpReplySubmit" ng-show="item.commentSubmitShow">
                                        <div id="txtComment_{{item.id}}" class="txtComment txtContent" contenteditable="true"></div>
                                        <div class="warpOperate">
                                            <button class="btn btn-primary floatR mLeft30" ng-click="pageFunc.submitComment(item)">回复</button>
                                            <div class="btnCancel floatR">
                                                <!--<label ng-click="pageFunc.hideReplySubmit(item)">
                                                  取消
                                                </label>-->
                                            </div>
                                            <div class="checkbox floatR">
                                                <label>
                                                    <input id="chkComment_{{item.id}}" type="checkbox"> 匿名
                                                </label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <!--回复列表-->
                                    <div class="list" ng-repeat="reply in item.commentList">
                                        <div class="listL">
                                            <a href="#/userspace/{{reply.pubUser.id}}">
                                                <img src="{{reply.pubUser.avatar}}" class="avatar">
                                            </a>
                                            <!--<img src="{{reply.pubUser.avatar}}" class="avatar">-->
                                        </div>
                                        <div class="listR">
                                            <a href="#/userspace/{{reply.pubUser.id}}" class="userName">{{reply.pubUser.userName}}</a>
                                            <span class="mLeft_8">{{reply.createDate | date:'yyyy-MM-dd'}}</span>
                                            <span class="mLeft_12" ng-show="reply.replayToUser && reply.replayToUser.userName && reply.replayToUser.userName != ''">回复 <a href="javascript:" class="userName mLeft5">{{reply.replayToUser.userName}}</a></span>
                                            <p class="content" ng-bind-html="reply.content">
                                            </p>
                                            <div class="listBtn">
                                                <span class="pl01" ng-click="pageFunc.showReplyList(reply)" ng-show="!reply.subListShow">
                                                    添加回复
                                                </span>
                                                <span class="pl01" ng-click="pageFunc.hideReplyList(reply)" ng-show="reply.subListShow">
                                                    收起回复
                                                </span>
                                                <span class="pl02" ng-click="pageFunc.praiseReview(reply)">{{reply.praiseCount}}个赞</span>
                                                <!--<span class="pl03" ng-click="pageFunc.reportIllegalReview(reply)">举报</span>-->
                                                <span class="pl03" ng-click="pageFunc.showReportList(reply)" ng-show="!reply.isShowCommentReport">举报</span>
                                                <span class="pl03" ng-click="pageFunc.hideReportList(reply)" ng-show="reply.isShowCommentReport">收起举报</span>
                                            </div>
                                            <!--回复的回复提交-->
                                            <div class="boxMainText_PL warpReplyList" ng-show="reply.replySubmitShow">
                                                <div class="warpReplySubmit" ng-show="reply.replySubmitShow">
                                                    <div id="txtComment_{{item.id}}_{{reply.id}}" class="txtComment txtContent" contenteditable="true" aria-label="写下你的回复……"></div>
                                                    <div class="warpOperate">
                                                        <button class="btn btn-primary floatR" ng-click="pageFunc.submitComment(item,reply)">回复</button>
                                                        <div class="btnCancel floatR">
                                                            <label ng-click="pageFunc.hideReplyList(reply)">
                                                                取消
                                                            </label>
                                                        </div>
                                                        <div class="checkbox floatR">
                                                            <label>
                                                                <input id="chkComment_{{item.id}}_{{reply.id}}" type="checkbox"> 匿名
                                                            </label>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--回复的举报提交-->
                                            <div class="warpReplySubmit" ng-show="reply.isShowCommentReport">
                                                <div id="txtReport_{{item.id}}_{{reply.id}}" class="txtComment txtContent" contenteditable="true" ng-model="pageData.currReportContent" aria-label="写下你的举报原因……"></div>
                                                <div class="warpOperate">
                                                    <button class="btn btn-primary floatR mLeft30" ng-click="pageFunc.reportIllegalReview(item,reply)">举报</button>
                                                    <div class="btnCancel floatR">
                                                    </div>
                                                    <div class="checkbox floatR">
                                                        <label>
                                                            <input id="chkReport_{{item.id}}_{{reply.id}}" type="checkbox"> 匿名
                                                        </label>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--加载更多回复-->
                                    <div class="more_btn" ng-show="item.commentCount > 0 && item.commentCount > item.commentList.length">
                                        <a href="javascript:" class="pl_input1 grad radius6" ng-click="pageFunc.loadCommentList(item)">显示更多回复</a>
                                    </div>
                                </div>

                                <div class="boxMainText_PL warpReplyList" ng-show="item.isShowReport">
                                    <!--评论中的举报提交-->
                                    <div class="warpReplySubmit" ng-show="item.isShowReport">
                                        <div id="txtReport_{{item.id}}" class="txtComment txtContent" contenteditable="true" ng-model="pageData.currReportContent" aria-label="写下你的举报原因……"></div>
                                        <div class="warpOperate">
                                            <button class="btn btn-primary floatR mLeft30" ng-click="pageFunc.reportIllegalReview(item,null)">举报</button>
                                            <div class="btnCancel floatR">
                                            </div>
                                            <div class="checkbox floatR">
                                                <label>
                                                    <input id="chkReport_{{item.id}}" type="checkbox"> 匿名
                                                </label>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more_btn" ng-show="pageData.articleList.length < pageData.totalCount">
                            <a href="javascript:" class="pl_input1 grad radius6" ng-click="pageFunc.loadArticleList(false)">加载更多动态</a>
                        </div>
                    </div>
                </div>
                <div class="tabContent warpMembers" ng-if="pageData.currTab.id==2">
                    <ul>
                        <li ng-repeat="item in pageData.currSelectCate.members" class="memberItem">
                            <div>
                                <a href="#/userspace/{{item.id}}">
                                    <img src="{{item.avatar}}" title="{{item.userName}}">
                                    <!--<span>{{item.userName}}</span>-->
                                </a>
                            </div>

                            <!--<span>{{item.userName}}</span>-->

                        </li>
                    </ul>
                    <div class="clear"></div>
                    <div class="more_btn" ng-if="pageData.currSelectCate.memberTotalCount > pageData.currSelectCate.members.length">
                        <a href="javascript:" class="pl_input1 grad radius6" ng-click="pageFunc.loadMembers(pageData.currSelectCate)">加载更多数据</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainRigth floatL">
            <div class="warpLeftCard warpHotMembers">
                <div class="title">
                    <span>成员列表</span>
                    <a href="javascript:;" class="more" ng-click="pageFunc.showMoreMember()">更多</a>
                    <div class="clear"></div>
                </div>
                <div class="dataList">
                    <ul ng-repeat="item in pageData.currSelectCate.hotMembers">
                        <li>
                            <a href="#/userspace/{{item.id}}">
                            <img src="{{item.avatar}}" title="{{item.userName}}" class="avatar">
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="warpLeftCard warpLeftHotArticle">
                <div class="title">
                    <span>热门讨论</span>
                    <a href="javascript:;" class="more" ng-click="pageFunc.showMoreHot()">更多</a>
                    <div class="clear"></div>
                </div>
                <div class="dataList">
                    <div class="item" ng-repeat="item in pageData.leftHotArticle">
                        <ul>
                            <li class="avatar floatL">
                                <a href="#/userspace/{{item.pubUser.id}}">
                                    <img src="{{item.pubUser.avatar}}">
                                </a>
                                <!--<img src="{{item.pubUser.avatar}}">-->
                            </li>
                            <li class="content floatL">
                                <div>
                                    <a href="#/userspace/{{item.pubUser.id}}">{{item.pubUser.userName}}</a>：<span ng-bind-html="item.summary"></span>
                                </div>
                                <div>
                                    1分钟前（{{item.commentCount}}评论）
                                </div>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>