.wrapAddbtn {
    z-index: 999;
    .bgBlue();
    display: inline-block;
    .size(40px,40px);
    position: fixed;
    text-align: center;
    border-radius: 50px;
    left: 28px;
    bottom: 38px;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 240px;

    .iconfont {
        font-size: 30px;
        position: relative;
        top: 10px;
    }
}

    .wrapAddbtn:hover {
        /*background-color: #999!important;*/
    }

.warpTypeDialog {
    .list {
        width:300px;
        .addArticle {
            width: 60px;
            height: 60px;
            border-radius: 50px;
            text-align: center;
            line-height: 60px;
            background-color: #4996e3 !important;
            color: #fff;
            margin: 20px 120px;
        }

        .change{
            background-color:#04c9b4 !important;
        }
    }
}
