.storeOrderButton {
	.colorPrimaryButton();
	color: white;
	font-size: 12px;
	line-height: 12px;
	padding: 7px;
	border-radius: 3px;
	text-align: center;
	
	&[disabled] {
		background: @colorDisabled !important;
	}
}