<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <link href="/lib/ionic/ionic.css" rel="stylesheet" />
    <link href="/Components/Coupon/m/src/public/couponList/style.css" rel="stylesheet" />
    <link href="/Components/Coupon/m/src/public/couponDetail/style.css" rel="stylesheet" />
    <link href="/Components/Coupon/m/src/public/couponUse/style.css" rel="stylesheet" />
    <link href="/Components/Coupon/m/src/public/couponUsed/style.css" rel="stylesheet" />
    <link href="/Components/Coupon/m/src/public/couponOverdate/style.css" rel="stylesheet" />
    <script src="/lib/angularjs/1.3.15/angular.min.js"></script>
    <script src="/lib/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="/lib/angularjs/1.3.15/angular-sanitize.min.js"></script>
    <script src="/lib/angularjs/1.3.15/angular-touch.min.js"></script>
    <script src="/Components/Coupon/m/js/app.js"></script>
    <!--<script src="/customize/ubi/js/controllers.js"></script>-->
    <script src="/Components/Coupon/m/src/public/couponList/couponListCtrl.js"></script>
    
</head>
<body>
    <div ng-app="couponmodule" class="pageBase" ng-class="{wrapQQBrowser:isQQBrowser}">
        <div ng-view></div>
    </div>
</body>
</html>
