<div class="layout boxMain warpMaster warpPerson warpFans">
    <div class="row">
        <div class="col-xs-9">
           <div class="personTop">
                <dl>
                    <dt>
                         <a href="javascript:;"><img src="http://static.oschina.net/uploads/group/JRTXi.jpg" alt=""></a>
                    </dt>
                    <dd>
                        <h4>如果<i class="iconfont icon-xiangshang "></i></h4>
                        <p>北京</p>
                        <p>
                            某某公司CEO
                        </p>
                        <p>
                            某某有限公司
                        </p>
                        <p>
                            <span>13834561234</span>
                            <span>010-23456789</span>
                        </p>
                        <p>
                            用它抓过包，纯文本协议无难度，二进制协议分析起来有点困难，我是通过多次抓包，然后
比较，分析变化。 不知是否有更先进的手段。
                        </p>
                        <p class="last">
                           <span>获得了  </span>         <span><i class="iconfont icon-xiangshang "></i>180个赞 </span>  
                        </p>
                        

                    </dd>
                    <div class="warpOperate perBot">            
                        <button class="btn btn-primary  btnComment changeBot" ng-click="pageFunc.submitComment()">关注</button>
                             <div class="clear"></div>
                    </div>
                </dl>
                <div class="perTab clear">
                    <ul>
                        <li><i class="iconfont icon-xiangshang "></i></li>
                        <li>234<br/>提问</li>
                        <li>234<br/>文章</li>
                        <li>234<br/>回答</li>
                        <li>234<br/>收藏</li>
                        <li>234<br/>社区动态</li>
                    </ul>
                </div>
                <div class="fanMainCon">
                    <h4 class="fansH">
                        <span>如果</span> 被2431人关注
                    </h4>
                    <div class="fanConBot">
                        <div class="fanConLeft">
                            <div class="img"><a href="javascript:;"><img src="http://static.oschina.net/uploads/group/JRTXi.jpg" alt=""></a></div>
                            <div class="tit">
                                <h4>如果 </h4>
                                <p>在未受工业污染的偏远农村或山区，会有哪些饮水安全问题？</p>
                            </div>
                        </div>
                        <div class="fanConRight">
                            <div class="warpOperate perBot">            
                                <button class="btn btn-primary  btnComment " ng-click="pageFunc.submitComment()">关注</button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fanConBot">
                        <div class="fanConLeft">
                            <div class="img"><a href="javascript:;"><img src="http://static.oschina.net/uploads/group/JRTXi.jpg" alt=""></a></div>
                            <div class="tit">
                                <h4>如果 </h4>
                                <p>在未受工业污染的偏远农村或山区，会有哪些饮水安全问题？</p>
                            </div>
                        </div>
                        <div class="fanConRight">
                            <div class="warpOperate perBot">            
                                <button class="btn btn-primary  btnComment " ng-click="pageFunc.submitComment()">关注</button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fanConBot">
                        <div class="fanConLeft">
                            <div class="img"><a href="javascript:;"><img src="http://static.oschina.net/uploads/group/JRTXi.jpg" alt=""></a></div>
                            <div class="tit">
                                <h4>如果 </h4>
                                <p>在未受工业污染的偏远农村或山区，会有哪些饮水安全问题？</p>
                            </div>
                        </div>
                        <div class="fanConRight">
                            <div class="warpOperate perBot">            
                                <button class="btn btn-primary  btnComment " ng-click="pageFunc.submitComment()">关注</button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fanConBot">
                        <div class="fanConLeft">
                            <div class="img"><a href="javascript:;"><img src="http://static.oschina.net/uploads/group/JRTXi.jpg" alt=""></a></div>
                            <div class="tit">
                                <h4>如果 </h4>
                                <p>在未受工业污染的偏远农村或山区，会有哪些饮水安全问题？</p>
                            </div>
                        </div>
                        <div class="fanConRight">
                            <div class="warpOperate perBot">            
                                <button class="btn btn-primary  btnComment " ng-click="pageFunc.submitComment()">关注</button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fanConBot">
                        <div class="fanConLeft">
                            <div class="img"><a href="javascript:;"><img src="http://static.oschina.net/uploads/group/JRTXi.jpg" alt=""></a></div>
                            <div class="tit">
                                <h4>如果 </h4>
                                <p>在未受工业污染的偏远农村或山区，会有哪些饮水安全问题？</p>
                            </div>
                        </div>
                        <div class="fanConRight">
                            <div class="warpOperate perBot">            
                                <button class="btn btn-primary  btnComment " ng-click="pageFunc.submitComment()">关注</button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fanConBot">
                        <div class="fanConLeft">
                            <div class="img"><a href="javascript:;"><img src="http://static.oschina.net/uploads/group/JRTXi.jpg" alt=""></a></div>
                            <div class="tit">
                                <h4>如果 </h4>
                                <p>在未受工业污染的偏远农村或山区，会有哪些饮水安全问题？</p>
                            </div>
                        </div>
                        <div class="fanConRight">
                            <div class="warpOperate perBot">            
                                <button class="btn btn-primary  btnComment " ng-click="pageFunc.submitComment()">关注</button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fanConBot">
                        <div class="fanConLeft">
                            <div class="img"><a href="javascript:;"><img src="http://static.oschina.net/uploads/group/JRTXi.jpg" alt=""></a></div>
                            <div class="tit">
                                <h4>如果 </h4>
                                <p>在未受工业污染的偏远农村或山区，会有哪些饮水安全问题？</p>
                            </div>
                        </div>
                        <div class="fanConRight">
                            <div class="warpOperate perBot">            
                                <button class="btn btn-primary  btnComment " ng-click="pageFunc.submitComment()">关注</button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fanConBot">
                        <div class="fanConLeft">
                            <div class="img"><a href="javascript:;"><img src="http://static.oschina.net/uploads/group/JRTXi.jpg" alt=""></a></div>
                            <div class="tit">
                                <h4>如果 </h4>
                                <p>在未受工业污染的偏远农村或山区，会有哪些饮水安全问题？</p>
                            </div>
                        </div>
                        <div class="fanConRight">
                            <div class="warpOperate perBot">            
                                <button class="btn btn-primary  btnComment " ng-click="pageFunc.submitComment()">关注</button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="warpPagination">
                    <pagination ng-model="pageIndex"
                                total-items="100"
                                max-size="5"
                                boundary-links="true"
                                rotate="false"
                                previous-text="上一页"
                                next-text="下一页"
                                first-text="首页"
                                last-text="尾页">
                    </pagination>
                </div>
          
             
                
           </div>
                
            </div>
            <div class="col-xs-3">
                <div class="perRightList">
                    <ul class="listOne">
                        <li>
                            粉丝<br>2431
                        </li>
                        <li class="last">
                            关注<br>2431
                        </li>
                    </ul>
                </div>
                <div class="listTwo">
                    <p><a href="javascript:;">屏蔽此用户</a></p>
                    <p class="last"><a href="javascript:;">屏蔽此用户</a></p>
                </div>
                <div class="listThree">
                    空间被234次浏览
                </div>
             </div>
        </div>
       
    </div>





