/*.wrapCouponList {
    .head {
        .useState {
            float: left;
            color:#FFA100;
            .divLine {
                border: solid 1px #FFA100;
                height: 0.5px;
            }
        }
    }
}*/
.wrapCouponList .card .ticketList .ticket {
    width: 160px;
    float: left;
    color: #fff;
}

    .wrapCouponList .card .ticketList .ticket h3 {
        color: #fff;
    }

.wrapCouponList .card .ticketList .top .ticket .img {
    float: left;
    position: relative;
    top: 13px;
    margin-right: 7px;
    margin-left: 5px;
}

.wrapCouponList .card .ticketList .top .Clear {
    clear: both;
}

.wrapCouponList .card .ticketList .top .num {
    float: right;
    margin-top: 5px;
    color: #fff;
    margin-right: 10px;
}

.wrapCouponList .card .ticketList .top {
    height: 75px;
    background-image: url("/Components/Coupon/m/static/img/head.png");
    background-size: 305px;
    background-repeat: repeat;
}

.wrapCouponList .card .ticketList .foot {
    // margin-top: 20px;
    margin-bottom: 10px;
    background-color: #fff;
}

.wrapCouponList .head .Clear {
    clear: both;
}

.wrapCouponList .head .useState {
    /*float: left;
    color: #FFA100;
    margin: 5px 20px;*/
}

.wrapCouponList .head .row .divLine {
    border: solid 1px #FFA100;
    height: 0.5px;
}
.wrapCouponList .card .ticketList{
    position:relative;
   // FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='0921.jpg' ,sizingMethod='scale')
}

.wrapCouponList .card .ticketList .foot .Clear {
    clear: both;
}

.wrapCouponList .card .ticketList .foot .leftFoot {
    float: left;
    //margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    top: 6px;
}

.wrapCouponList .card .ticketList .foot .rightFoot {
    float: right;
    margin-right: 10px;
    position: relative;
    top: 6px;
}

.wrapCouponList .head .row .col {
    text-align: center;
}

.wrapCouponList .head .row .selected {
    color: #FFA100;
    border-bottom: 2px solid #FFA100;
}

.wrapCouponList .card .floatImg {
    position: absolute;
    top: 20px;
    right: 9px;
    width: 101px;
}
