
.register {
    text-align: center;
    display: table;
    width: 100%;
    height: 120px;
    margin-top: 30px;

    .register-head {
        display: table-cell;
        vertical-align: middle;

        .btn-user {
            border: 1px solid rgb(246, 131, 26);
            background-color: #ff8e00;
            border-radius: 5px;
            width: 120px;
            height: 38px;
            color: #fff;
            font-size: 18px;
            margin-right: 70px;
        }

        .btn-company {
            width: 120px;
            height: 38px;
            font-size: 18px;
            margin-right: 70px;
        }
    }
}

.register-body {
    border: 1px solid #ccc;
    border-top: 3px solid #f88e00;
    padding-top: 30px;
    margin: 30px;
    padding-bottom: 50px;

    .col-xs-4 {
        height: 50px;
    }

    a, a:hover {
        color: #3292e4;
    }
}

.btn-code {
    background: #ff8e00;
    border: 1px solid rgb(246, 131, 26);
    color: #fff;
}

.register-border {
    width: 150px;
    background-color: #ff8e00;
    border: 1px solid rgb(246, 131, 26);
    color: #fff;
    padding: 0px;
    height: 35px;
}

.row {
    margin-top: 20px;
}

.RightR {
    text-align: right;
    padding-top: 9px;
}

.LeftL {
    text-align: left;
}

.text-width {
    margin-top: 185px;
}

.register-border1 {
    width: 150px;
    background-color: #ff8e00;
    border: 1px solid rgb(246, 131, 26);
    color: #fff;
    padding: 0px;
    height: 35px;
}

.btn-default:hover {
    background-color: #ff8e00 !important;
}

#code_nick, #code_pwd, #code_configpwd, #code_phone, #company_name, #company_pwd, #company_confirmpwd,#login_account1,#login_pwd1 {
    width: 97% !important;
    display: inline !important;
}

.licensePath {
    width: 150px;
    height: 200px;
    position: absolute;
    top: 0px;
    filter: alpha(opacity=0); 
    -moz-opacity: 0; 
    -khtml-opacity: 0; 
    opacity: 0; 
    cursor:pointer;
}

.img-license {
    width: 150px;
    height: 200px;
}

.label-lince {
    margin-top: 80px;
}

.layui-layer-regarticle {
    .layui-layer-content {
        padding: 10px 15px;
    }
}

.btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus,
.btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover {
    background-color: #ff8e00;
    border: 1px solid #f6831a;
}
