body
{
}


#divIndexPage
{
    background-color: #dae6d8; /*#dae6d8;*/
    background-image: url(/img/Gmulife/bg.jpg);
    background-repeat: repeat-x;
    margin-bottom: 0px;
}

#divIndexHeader
{
    height: 20px;
    margin: 0;
    border: 0;
}
#divIndexHeaderTop
{
    background-color: #326532;
    height: 10px;
}
#divIndexHeaderMain
{
    height: 10px;
}
#tableIndexCenter
{
    width: 100%;
}
#tableIndexCenter td
{
    padding-top: 5px;
}

.GreenFot
{
    font-size: 12px;
    color: #396632;
}
.GreenFot td
{
    text-align: left;
}
.footerIndex
{
    vertical-align: top;
    height: 180px;
    background-image: url(/img/Gmulife/index_footer.gif);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.main
{
    background-color: cccccc;
}


/* 已移到ItemStyle.css

.item
{
    float: left;
    position: relative;
    display: inline-block;
    margin: 10px 2.5%;
    width: 45%;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 6px #888;
    box-shadow: 1px 1px 6px #888;
    background: #fff;
}

.item-detail
{
    display: block;
    float: right;
    width: 15%;
    margin: 0;
    padding: 5px 2.5%;
    color: green;
    line-height: 1.7;
    font-size: 15px;
    text-align: right;
    border: 0;
}

.item.large
{
    width: 95%;
}
.select-shadow.large {
height: 105px;
padding-top: 75px;
}
.item-title
{
    overflow: hidden;
    float: left;
    padding: 5px 10px;
    text-align: left;
    line-height: 1.5;
    font-size: 14px;
    white-space: nowrap;
}
.item-image
{
}
.single-item-info
{
    text-align: left;
}
.select-shadow
{
    display: none;
    position: absolute;
    z-index: 0;
    height: 70px;
    width: 100%;
    top: 31px;
    padding-top: 40px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
*/


