/*.wrapArticleContent {
	padding: 10px 6px;
	.title {
		font-size: 18px;
	}
	.pubInfo {
		color: #999;

		.userName {
			margin-right: 10px;
		}
	}
	.operateBtns {
		padding: 20px;
		color: #999;
		text-align: center;
		
		i {
			font-size: 28px;
			color:#ddd;
		}
	}
}
.wrapArticleContent>div {
	margin: 6px;
}*/