.wrapAddCard{
  .change{
    min-height: 35px;
    line-height: 22px;
    border-color: #285E8E;
    background-color: #2D6CA2;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .padding{
//    padding-left: 50px;
//    padding-right: 50px;
    .change{
      min-height: 35px;
      line-height: 22px;
      border-color: #285E8E;
      background-color: #2D6CA2;
      border-radius: 4px;
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}