<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="signForm" style="padding: 15px;">
        <div style="font-size: 16px; color: rgb(108, 108, 108); text-align: center; line-height: 30px;">
            商品信息表
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    品牌<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K1" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    类目
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K2" placeholder="" value="" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    产地
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K3" placeholder="" value="" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="font-size: 16px; color: rgb(108, 108, 108); text-align: center; line-height: 30px;">
            商家信息表
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    商家<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K4" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    手机<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K5" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    邮箱<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K6" placeholder="" value="" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="font-size: 16px; color: rgb(108, 108, 108); text-align: center; line-height: 30px;">
            推荐人资料
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    姓名<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="Name" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    手机<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="Phone" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    邮箱<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K7" placeholder="" value="" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="padding: 3px 0px;margin:15px 3px 5px; text-align:center;">
            <input type="button" value="提  交" style="height:34px; line-height:34px; width:80%; background-color:#EF4F4F; color:#ffffff;font-size:16px; border:solid 1px #EF4F4F;" onclick="SignPost()" />
        </div>
        <input type="hidden" value="835502" name="ActivityID">
        <input type="hidden" value="835503" name="MonitorPlanID">
        <input type="hidden" value="none" name="DistinctKeys">
    </div>
</body>
</html>