<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="signForm" style="padding: 15px;">
        <div style="font-size: 16px; color: rgb(108, 108, 108); text-align: center; line-height: 30px;">
            楼盘信息表
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    名称<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K1" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    类型
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <select name="K2" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                        <option value="商业建筑">商业建筑</option>
                        <option value="工业建筑">工业建筑</option>
                        <option value="民用建筑">民用建筑</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    地址
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K3" placeholder="" value="" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="font-size: 16px; color: rgb(108, 108, 108); text-align: center; line-height: 30px;">
            项目介绍
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <textarea rows="5" type="text" name="K4" value="" style="padding:5px;width: 100%;" placeholder="项目介绍"></textarea>
        </div>
        <div style="font-size: 16px; color: rgb(108, 108, 108); text-align: center; line-height: 30px;">
            楼盘负责人信息表
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    姓名<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K5" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    手机<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="K6" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="font-size: 16px; color: rgb(108, 108, 108); text-align: center; line-height: 30px;">
            推荐人资料
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    姓名<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="Name" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="border: solid 1px rgb(220,220,220); padding: 3px 0px;margin:3px;">
            <div style="text-align: center;display: table;width: 100%;">
                <div style="display: table-cell;font-size: 14px;width: 25%;vertical-align: middle;border-right: solid 1px rgb(220,220,220);color: rgb(108, 108, 108);">
                    手机<span style="color: rgb(230, 0, 0);position: relative;top: 2px;left: 3px;">*</span>
                </div>
                <div style="display: table-cell;font-size: 14px;">
                    <input type="text" name="Phone" placeholder="" value="" data-empty-check="1" style="display: block;line-height: 28px;margin: 0px;width: 100%;padding: 0px 5px;border: 0px;height: 28px;">
                </div>
            </div>
        </div>
        <div style="padding: 3px 0px;margin:15px 3px 5px; text-align:center;">
            <input type="button" value="提  交" style="height:34px; line-height:34px; width:80%; background-color:#EF4F4F; color:#ffffff;font-size:16px; border:solid 1px #EF4F4F;" onclick="SignPost()" />
        </div>
        <input type="hidden" value="835469" name="ActivityID">
        <input type="hidden" value="835470" name="MonitorPlanID">
        <input type="hidden" value="none" name="DistinctKeys">
    </div>
    <script type="text/javascript">
        $(function () {
            loadUser();
        });
        function loadUser() {
            $.ajax({
                type: 'post',
                url: "/Handler/OpenGuestHandler.ashx",
                data: { Action: "GetCurrentUserInfo" },
                dataType: "json",
                success: function (resp) {
                    if (resp.Status == 1) {
                        $('.signForm input[name="Name"]').val(resp.ExObj.TrueName);
                        $('.signForm input[name="Phone"]').val(resp.ExObj.Phone);
                    }
                }
            });
        }
        function SignPost() {
            var postData = {};
            var emptyCheck = false;
            $('.signForm [name]').each(function () {
                var v = $.trim($(this).val());
                var dataEmptyCheck = $(this).attr('data-empty-check');
                if (dataEmptyCheck == '1' && v == '') emptyCheck = true;
                if (v != '') {
                    var n = $(this).attr('name');
                    postData[n] = v;
                }
            });
            if (emptyCheck) {
                alert('请完成必填信息');
                return;
            }
            $.ajax({
                type: 'post',
                url: "/serv/ActivityApiJson.ashx",
                data: postData,
                dataType: "json",
                success: function (resp) {
                    alert(resp.Msg);
                }
            });
        }
    </script>
</body>
</html>