<div class="modal-header textC">
    <h3 class="modal-title">您当前的积分不足~(>_<)~</h3>
</div>
<div class="modal-body textC">
    <h5 class="modal-title">如何获得积分呢？</h5>
    <ul>
        <li>
            邀请您的小伙伴注册 <span class="cf90">+200</span>
        </li>
        <li>
            每日登录+10
        </li>
        <li>
            分享问题/文章/案例+20
        </li>
        <li>
            发布案例+30
        </li>
        <li>
            被点赞+10
        </li>
        <li>
            互动发文回答+5
        </li>
        <li>
            发布问题+1
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$close()">关闭</button>
</div>