<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <!--<add key="ConnectionString" value="server=115.29.205.58;database=CommonPlatform_Preview;uid=sa;pwd=comeoncloudzz!@#$" />-->
    <add key="ConnectionString" value="server=rdsa69lqih3nlnp3fh2ea.sqlserver.rds.aliyuncs.com,3433;database=CommonPlatform;uid=comeoncloud;pwd=jubit_comeOn--989SaAS" />
    <add key="eFastAPIUrl" value="http://121.41.167.200/efast/efast_api/webservice/web/index.php" />
    <add key="eFastAppNick" value="openapi" />
    <add key="eFastAppKey" value="c20e238b6fb7cb05342a" />
    <add key="eFastAppSecret" value="b3e2bef96180b845369190d82d1870e6" />
    <add key="eFastBaseUrl" value="http://121.41.167.200/efast/" />
    <add key="eFastShopId" value="9" />

    <add key="EZRproAPIUrl" value="http://api.ezrpro.com/" />
    <add key="EZRproAppId" value="mixblu" />
    <add key="EZRproToken" value="yU8jI09lOpj" />
    <!--驿氪开卡链接 测试的是http://m.ezrpro.cn/vip/registered/3 正式的是http://m.ezrpro.cn/vip/registered/8-->
    <add key="EZRproRegUrl" value="http://m.ezrpro.cn/vip/registered/8" />
    <add key="MixBluWebSiteOwner" value="mixblu" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>