<div class="col-xs-7 leftbox">
	<div class="titlebox">最新中奖New</div>
	<div class="titleheader">
		<div class="text col-xs-3"></div>
		<div class="text col-xs-5">昵称</div>
		<div class="text col-xs-4">奖项</div>
	</div>
	<div class="awardlist">
<!-- 		<div class="awardbar" ng-repeat="award in awardleftdata" >
			<span class="awardbarinfo col-xs-3">
				<span class="whiteround"></span>
				<img ng-src="http://dev.comeoncloud.net/{{award.headimg}}" alt="" class="avatar">
			</span>
			<span class="awardbarinfo col-xs-5">
				{{award.nickname}}
			</span>
			<span class="awardbarinfo col-xs-4">
				{{award.awardname}}
			</span>
		</div> -->
	</div>
</div>