<div class="col-xs-5 rightbox">
	<div class="topbar"></div>
	<div class="listbox">
		<h3 class="toptitle">全部中奖名单</h3>
		<div class="awardlistbox">
<!-- 			<div class="awardinfo" ng-repeat="award in awardrightdata">
				<span class="text col-xs-6">{{award.nickname}}</span>
				<span class="text col-xs-6">{{award.awardname}}</span>
			</div>
			<div class="awardinfo" ng-class="{hidethis:!rightrun}" ng-repeat="award in awardrightdata">
				<span class="text col-xs-6">{{award.nickname}}</span>
				<span class="text col-xs-6">{{award.awardname}}</span>
			</div> -->
		</div>
		<h3 class="bottomtitle">已有<span class="awardnumber">{{awardtotalnum}}</span>人中奖</h3>
	</div>
</div>