
body {
    background: #fff;
}

.warp-sms {
    background: #fff;

    .sms-head {
        .sms-pay-title {
            height: 80px;
            background: #FBF9FE;
            border-bottom: 1px solid #F3F3F3;
            text-align: center;
            font-size: 18px;
            line-height: 80px;
            /* color: #30C212; */
            font-weight: bold;
        }
    }

    .sms-body {
        .sms-item {
            border: 1px solid #1aad19;
            border-radius: 3px;
            text-align: center;
            margin: 0px 8px;
            padding: 8px;
            color: #1aad19;

            .sms-number {
                font-size: 16px;
            }
        }

        .sms-item-selected {
            border-color: rgba(0,0,0,.2);
            background: #1aad19;
            color: #fff;
            border: 1px solid #1aad19;
            border-radius: 3px;
            text-align: center;
            margin: 0px 8px;
            padding: 8px;

            .sms-number {
                font-size: 16px;
            }
        }

        .sms-pay {
            margin: 10px 8px;
            color: #A7A4A4;
        }

        .warp-sms_count {
            margin: 50px 8px 0px 8px;

            .sms-jia {
                font-size: 24px;
                border: 1px solid #ccc;
                width: 20px;
                margin: 0;
                padding: 0px 10px;
                float: right;
                border-left: 0;
            }

            .sms-input {
                border: 1px solid #ccc;
                float: right;

                input {
                    width: 50px;
                    height: 38px;
                    border: 0px;
                    text-align: center;
                }
            }

            .sms-jian {
                font-size: 22px;
                border: 1px solid #ccc;
                width: 20px;
                margin: 0px;
                padding: 1px 10px;
                padding-top: 1px;
                padding-bottom: 2px;
                float: right;
                border-right: 0;
            }

            .sms-buy-count {
                line-height: 40px;
                font-size: 14px;
            }
        }

        .warp-sms_pay {
            margin: 40px 8px;
            font-size: 14px;

            .pay-number {
                height: 40px;

                .number {
                    font-size: 24px;
                    color: #ff8e00;
                }
            }
        }
    }

    .sms-foot {
        margin: 60px 8px 0px 8px;
        padding-bottom: 40px;
    }
}

.sms-success {
    display: none;
}

.sms-fail {
    display: none;
}
