.wrapNeedToKnowWei {
    min-height: 450px;
    background: #fff;
    overflow: hidden;
    zoom: 1;

    .row {
        margin: 0;

        .col-xs-12 {
            width: 100%;

            .boxMainText {
                padding: 20px 0;
                font-size: 12px;
                line-height: 20px;

                .warpReguDetails {
                    padding: 20px 20px 30px;
                    border: 1px solid #D9D9D9;

                    .reguDetailsMainOne {
                        padding-bottom: 18px;
                        border-bottom: 1px dashed #CDCDCD;

                        h4 {
                            text-align: center;
                            margin-bottom: 18px;
                        }
                    }

                    .reguDetailsMainTwo {
                        padding-top: 15px;

                        b {
                            span {                               
                                margin-bottom: 16px;
                                display: block;
                            }
                        }

                        h2 {
                            border-bottom: 0px dashed #ccc !important;

                            span {
                                font-weight: bold !important;
                                margin-bottom: 16px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
