.wrapArticleList{
    background-color:#EEEEEE;
    .warpHeader.haschoose {
    .rightBtn {
        color: #4996e3 !important;
        width: 62px;
        font-size: 14px;
        text-align: right;
        padding-right: 4px;

        .icon-arrowdown {
            font-size: 14px;
        }
    }
    .region{
            height: 50px;
            padding: 5px 5px;
            background-color: #EEEEEE;
            border-top: 1px #DDDDDD solid;
            border-bottom: 1px #DDDDDD solid;
            line-height: 40px;

            .spanStyle {
                color: #0095E1;
                float: left;
            }

            .selectStyle {
                min-width: 80px;
            }

            .confirm {
                float: right;
                width: 50px;
                height: 25px;
                background-color: #488DD2;
                line-height: 25px;
                text-align: center;
                position: relative;
                top: 7px;
            }
            a{
                color:#fff;
            }
        }


    .icon-sousuo {
        right: 90px;
    }
}
}


