<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div class="warning">
        <check-pay-password></check-pay-password>
    </div>
</body>
</html>
<script src="/lib/vue/2.0/vue.min.js" type="text/javascript"></script>
<script type="text/javascript" src="CheckPayPwd.js"></script>
<script type="text/javascript">
        // 创建根实例
        new Vue({
            el: '.warning'
        })
</script>