.wrapInfo {
    margin: 0px;
    padding: 8px;

    .title {
        font-size: 14px;
        line-height: 26px;
    }

    .info {
        padding: 0px 0px 0px 90px;
        height: 80px;
        position: relative;
        background-color: #ffffff;
        border-radius: 4px;

        .divIcon {
            font-size: 60px;
            left: 0;
            position: absolute;
            top: 0px;
            line-height: 75px;
            height: 80px;
            padding: 0px 10px 0px 15px;
            .icoRed{
                color:#ce1b04;
            }
            .icoYellow{
                color:#fdc62b;
            }
        }

        .divInfo {
            line-height: 80px;
            font-size:1.4em;
        }
    }
}
