@charset "utf-8";
@import "//at.alicdn.com/t/font_1437452604_7030187.css";
@import "/lib/ionic/ionic.css";

.colorLightBlack {
    color: #8C8984;
    margin-top: 10px;
}

.wrapSelfMediaDetail .influence .textCenter {
    margin-left:-5px;
    color: #5A5954;
}

p {
    text-indent: 2em;
    padding: 0px;
    margin: 0px;
    color: #8C8984;
    line-height: 23px;
}

.wrapSelfMediaDetail {
    background-color: #FAFAF9;
}

    .wrapSelfMediaDetail .influence {
        background-color: #F6F5F4;
    }

        .wrapSelfMediaDetail .influence .rLine {
            border-right: 1px solid #E8E7E4;
        }

    .wrapSelfMediaDetail .article {
        width: 100%;
        min-height: 300px;
        margin-top: 30px;
    }

        .wrapSelfMediaDetail .article .introduction {
            width: 100%;
            height: 31px;
            color: #8C8984;
        }

            .wrapSelfMediaDetail .article .introduction .redBlock {
                width: 7px;
                height: 20px;
                background-color: red;
                float: left;
                margin-left: 10px;
                margin-right: 20px;
            }

    .wrapSelfMediaDetail .idDetail {
        width: 100%;
        height: 45px;
        text-align: center;
        line-height: 45px;
        background-color: #FF6033;
        color: #fff;
    }

        .wrapSelfMediaDetail .idDetail .fanhui {
            float: left;
            margin-left: 5px;
        }

    .wrapSelfMediaDetail .wrapBanner {
        background-color: #FAFAF9;
        height: 120px;
    }

        .wrapSelfMediaDetail .wrapBanner .row {
            overflow: hidden;
        }

        .wrapSelfMediaDetail .wrapBanner .avatar {
            padding: 5px;
        }

        .wrapSelfMediaDetail .wrapBanner .col {
            position: relative;
        }

        .wrapSelfMediaDetail .wrapBanner .title {
            font-size: 16px;
            margin: 6px 0;
          //  font-weight: bold;
          color: #595854;
        }

.img {
    position: relative;
    top: -2px;
    left: -4px;
    width: 92px;
    height: 92px;
}
.wrapSelfMediaDetail .wrapBanner{
    position:relative;
}
#btnFollow{
    position: absolute;
    right: 10px;
    top: 42px;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    min-height: 30px;
    padding: 0px;
    border-color: #FF6033;
    background-color: #FF6033;
    color:#fff;
}