.wrapIndex{
  background-color: #FAFAF9;
  padding-bottom: 48px;
  .wrapAd{
    background-color: #fff;
    overflow: hidden;
    height: 220px;
    position: relative;
    img{
      width: 100%;
      height: 220px;
      border-radius: 0px;
    }
    .leftTile{
      position: absolute;
      top: 194px;
    }
    .imgIndex{
      width: 100%;
      position: absolute;
      text-align: center;
      bottom: 0px;
      font-size: 28px;
      color:#fff;
      height: 30px;
      background-color: rgba(0,116,244,0.2);
      padding-left: 260px;
    }
    div.rn-carousel-indicator span{
      color: #949292;
    }
    div.rn-carousel-indicator span.active{
      color: #fff;
    }
  }
  .centerMenu{
    text-align: center;
    color: #fff;
  }
}