.serviceActivityCtrl {
  .insetBlock {
    overflow: hidden;
    border-radius: 5px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  }
  .activityFooter {
    position: relative;
    height: 40px;
  }
  .activityAddress {
    width: 80%;
  }
  .activityStatus {
    color: white;
    position: absolute;
    right: 0;
    transform: rotate(-45deg) translate(27px, 24px);
    background: @colorPrimary;
    padding: 6px 18px 18px 18px;
  }
}