.wrapInternetDetail{
	min-height: 100%;
	background-image: url(http://comeoncloud-open.oss-cn-hangzhou.aliyuncs.com/wanbancare%2Fwap%2Fbg.png);
	background-size: 100% 100%;
	position: relative;
	text-align: center;
	padding: 10px;
	img{
		border-bottom-right-radius:0;
		border-radius: 0px !important;
	}
	.content{
		text-align: left;
		p{
			text-indent: 2em;
		}
		img{
			width: 100%;
		}
	}
	hr{
		border-color: rgba(235,237,243,0.4);
	}
	.logo{
		img{
			width: 100px;
			height: 100px;
            border-radius:50px !important;
		}
	}
}