.wrapMsg{
	padding-bottom: 72px;
	.dataList{
		.card{
			.item{
				font-size: 14px;
				.time{
					color: #999;
				}
				.userName{
					.colorBlue();
				}
				p.msg{
					margin-top: 5px;
					white-space: normal;
				}
			}
		}
	}
} 