
.title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.upload-img-list {
    height: auto;
}

.upload-img-item {
    width: 33.33%;
    float: left;
}

    .upload-img-item img {
        width: 100%;
        max-height: 100px;
    }

.upload {
    margin-top: 25px;
    margin-bottom:20px;
}

.btn-upload {
    background-color: #2d5ea8;
    line-height: 2.2em;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    width: 98%;
    margin-left: 1%;
}

.wrapContent {
    min-height: 80%;
}
