.cover{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	
}
.cover img{
	width: 100%;
}
#scratchpad,#prize{
	position: absolute;
	width: 100%;
	top: 1px;
	text-align:left;
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	margin-left:0%;
	margin-right:20px;
	color:White;
	
	
}
#scratchpadauthor
{
    
    position: absolute;
	width: 100%;
	top: 1px;
	text-align:right;
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	margin-right:10px;
	color:White;
	
    
}
.btn-cont{
	position: absolute;
	bottom: 3px;
	right: 3px;
	display: none;
}
.content{
	margin-top: 20px;
	padding: 0 15px;
}
.content .desc{
	font-weight: bold;
	border-bottom: 1px dashed #000;
	padding: 12px 0px;
}
p {
	margin: 0 0 10px;
	font-size: 14px;
}
.loading-mask{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.6);
	z-index: 100;
	left: 0px;
	top: 0px;
}