.wrapCardList{
  .row{
    .iconstyle{
      position: absolute;
      bottom: 2px;
      left: 35px;
      font-size: 27px;
      color: #FF0000;
    }
    .bianjixiugai{
      position: absolute;
      bottom: 2px;
      left: -2px;
      font-size: 32px;
      color: #90EE90;
    }
  }
  .list {
    .item:hover {
      background-color: #ECECEC;
    }
    .item {
      color: #999;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 15px;
      .icon {
        font-size: 15px;
      }
    }
    .first-divider{
      padding-top: 5px;
      padding-bottom: 5px;
      min-height: 12px;
    }
  }
  .padding{
    position: fixed;
    bottom: 0px;
    padding-left: 120px;
    padding-right: 120px;
    .change{
      min-height: 35px;
      line-height: 22px;
      border-color: #285E8E;
      background-color: #2D6CA2;
      border-radius: 4px;
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}