.serviceTrafficCtrl {
	height: 100%;
	.row {
		height: 33%;
	}
	.col {
		.iconWrapper {
			text-align: center;
			border-radius: 50%;
			background: white;
			margin: 0 auto;
			width: 120px;
			height: 120px;
			border: 1px solid #e9e9e9;
			
			i {
				line-height: 120px;
				font-size: 40px;
				vertical-align: middle;
				
				&.icon-baoxian {
					color: #62ae18;
				}
				&.icon-zhishi {
					color: #6bd49a;
				}
				&.icon-cheliangfenbu {
					color: #fdbd4e;
				}
				&.icon-deng {
					color: #6ad8fe;
				}
			}
		}
	}
}