.warpUpdate {
    .tabContent {
        padding-top: 0;
    }

    .warpCommentList {
        margin-top: 0;
    }

    .warpSummary {
        .baseInfo {
            width: 400px;

            div {
                height: 30px;
                line-height: 30px;
            }

            .name {
                margin-bottom: 4px;
                margin-top: 4px;
            }

            .btn-warning {
                right: 42px;
            }
        }

        .summary {
            width: 296px;
        }
    }

    .warpHotMembers {
        .dataList {
            li {
                float: left;
                padding: 8px;
                border-radius: 5px;

                img.avatar {
                    .size(38px,38px);
                    border-radius: 5px;
                }
            }

                li:hover {
                    background-color: #F2F2F2;
                }
        }
    }

    .warpMembers {
        /*padding-top: 15px;
		margin-bottom: 20px;*/
        padding-top: 10px;
        margin-bottom: 10px;

        .memberItem {
            //width: 104px;
            width: 62px;
            float: left;
            text-align: center;
            /*padding: 20px 6px;*/
            padding: 12px 6px;

            img {
                .size(52px,52px);
            }

            span {
                width: 100%;
                .overflow_ellipsis();
                display: inline-block;
                margin-top: 8px;
            }
        }
    }
}
