.wrapDisCount{
  .selected{
    background-color: #849234 !important;
    color: #fff;
  }
  .content{
    margin-bottom: 136px;
    .borderGreen{
      border-top: 1px solid #008000;
    }
    .tips{
      text-align: center;
      font-size: 20px;
      padding: 50px;
    }
    .row-sale {
       padding: 0px;
       .col-sale {
         text-align: center;
         border: 1px solid #ddd;
         background-color: #fff;
       }
     }
    .list-sale {
      margin-bottom: 0px;
      .imgstyle{
        border-radius: 6px;
      }
      .commission{
        position: absolute;
        right: 12px;
        top: 22%;
        z-index: 10;
      }
    }
  }
}