.wrapProjectList{
	background-image: url(/customize/10000care/m/static/img/care/projectList/bg.png);
	.wrapInputDark{
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
	}
	.wrapInputDark.selectDark{
		margin-left: 0px!important;
	}
	.col{
		padding: 8px;
	}
	.projectList{
		margin-top: -8px;
		.content{
			background-color: rgba(86,88,134,0.5);
			padding: 10px;
			border-radius: 10px;
			img{
				width: 100%;
			}
			div{
				margin-top: 10px;
			}
			div:nth-child(1){
				margin-top: 0px;
			}
		}

		.row{
			.col{
			
			}
		}
	}
	.btnLogin{
		background-color: rgba(86,88,134,0.5);
	}
	

}