@charset "utf-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}

.btn:focus {
    outline: none;
}

address, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}

b, strong {
    font-weight: bold;
}

ul, li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.position-top2 {
    position: relative;
    top: -2px;
}

.position-top3 {
    position: relative;
    top: -3px;
}

a {
    text-decoration: none;
    color: #474747;
}

    a:hover {
        color: #474747;
    }

input, select, textarea, button {
    border-width: 1px;
    font-size: 12px;
    vertical-align: middle;
}

em, i {
    font-style: normal;
    font-weight: normal;
    margin-right: 5px;
}

/* default style */
html, body {
    font-family: "微软雅黑";
    color: #525252;
    font-size: 13px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

    a:hover, a:visited, a:active {
        text-decoration: none;
    }

.clear {
    *zoom: 1;
}

.Clear {
    clear: both;
}

    .clear:after {
        content: '\20';
        display: block;
        height: 0;
        clear: both;
    }

.floatL {
    float: left !important;
}

.floatR {
    float: right !important;
}

.mLeft0 {
    margin-left: 0px !important;
}

.mLeft2 {
    margin-left: 2px !important;
}

.mLeft3 {
    margin-left: 3px !important;
}

.mLeft5 {
    margin-left: 5px !important;
}

.mLeft10 {
    margin-left: 10px !important;
}

.mLeft12 {
    margin-left: 12px !important;
}

.mLeft15 {
    margin-left: 15px !important;
}

.mLeft20 {
    margin-left: 20px !important;
}

.mLeft25 {
    margin-left: 25px !important;
}

.mLeft30 {
    margin-left: 30px !important;
}

.mLeft35 {
    margin-left: 35px !important;
}

.mLeft40 {
    margin-left: 40px !important;
}

.mLeft48 {
    margin-left: 48px !important;
}

.mLeft50 {
    margin-left: 50px !important;
}

.mLeft80 {
    margin-left: 80px !important;
}

.mLeft100 {
    margin-left: 100px !important;
}

.mLeft310 {
    margin-left: 310px !important;
}

.mTop0 {
    margin-top: 0px !important;
}

.mTop2 {
    margin-top: 2px !important;
}

.mTop3 {
    margin-top: 3px !important;
}

.mTop5 {
    margin-top: 5px !important;
}

.mTop6 {
    margin-top: 6px !important;
}

.mTop7 {
    margin-top: 7px !important;
}

.mTop8 {
    margin-top: 8px !important;
}

.mTop10 {
    margin-top: 10px !important;
}

.mTop11 {
    margin-top: 11px !important;
}

.mTop12 {
    margin-top: 12px !important;
}

.mTop13 {
    margin-top: 13px !important;
}

.mTop15 {
    margin-top: 15px !important;
}

.mTop18 {
    margin-top: 18px !important;
}

.mTop20 {
    margin-top: 20px !important;
}

.mTop25 {
    margin-top: 25px !important;
}

.mTop30 {
    margin-top: 30px !important;
}

.mTop35 {
    margin-top: 35px !important;
}

.mTop40 {
    margin-top: 40px !important;
}

.mTop45 {
    margin-top: 45px !important;
}

.mTop50 {
    margin-top: 50px !important;
}

.mTop60 {
    margin-top: 60px !important;
}

.mTop70 {
    margin-top: 50px !important;
}

.mTop80 {
    margin-top: 50px !important;
}

.mTop90 {
    margin-top: 50px !important;
}

.mTop100 {
    margin-top: 50px !important;
}

.mBottom0 {
    margin-bottom: 0px !important;
}

.mBottom3 {
    margin-bottom: 3px !important;
}

.mBottom4 {
    margin-bottom: 4px !important;
}

.mBottom5 {
    margin-bottom: 5px !important;
}

.mBottom6 {
    margin-bottom: 6px !important;
}

.mBottom8 {
    margin-bottom: 6px !important;
}

.mBottom10 {
    margin-bottom: 10px !important;
}

.mBottom12 {
    margin-bottom: 12px !important;
}

.mBottom15 {
    margin-bottom: 15px !important;
}

.mBottom20 {
    margin-bottom: 20px !important;
}

.mBottom25 {
    margin-bottom: 25px !important;
}

.mBottom30 {
    margin-bottom: 30px !important;
}

.mBottom50 {
    margin-bottom: 50px !important;
}

.mBottom100 {
    margin-bottom: 100px !important;
}

.mBottom130 {
    margin-bottom: 130px !important;
}

.pTop10 {
    padding-top: 10px !important;
}

.pTop25 {
    padding-top: 25px !important;
}

.pButtom1 {
    padding-bottom: 1px !important;
}

.pButtom2 {
    padding-bottom: 2px !important;
}

.pButtom3 {
    padding-bottom: 3px !important;
}

.pButtom4 {
    padding-bottom: 4px !important;
}

.pButtom5 {
    padding-bottom: 5px !important;
}

.pButtom6 {
    padding-bottom: 6px !important;
}

.pButtom7 {
    padding-bottom: 7px !important;
}

.pButtom8 {
    padding-bottom: 8px !important;
}

.pButtom9 {
    padding-bottom: 9px !important;
}

.pButtom10 {
    padding-bottom: 10px !important;
}

.Font13 {
    font-size: 13px !important;
}

.Font14 {
    font-size: 14px !important;
}

.Font15 {
    font-size: 15px !important;
}

.Font16 {
    font-size: 16px !important;
}

.Font17 {
    font-size: 17px !important;
}

.Font18 {
    font-size: 18px !important;
}

.Font19 {
    font-size: 19px !important;
}

.Font20 {
    font-size: 20px !important;
}

.Font25 {
    font-size: 25px !important;
}


.Width1000 {
    width: 1000px;
    margin: 0 auto;
}

.Width970 {
    width: 970px;
    margin: 0 auto;
}

.Width140 {
    width: 140px;
}

.wrapHead {
    .mHead {
        width: 100%;
        height: 100px;
        background-color: #F5F4F3;
        min-width: 1000px;

        .logoimg {
            cursor: pointer;
        }

        .login {
            .loginInfo {
                .useravatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    cursor: pointer;
                }

                .userdispalyname {
                    margin: 0 15px 0 5px;
                    color: #FF8E00;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }

        .noLogin {
            .rightNav {

                .inline {
                    position: relative;
                    display: inline-block;

                    .iconfont {
                        position: absolute;
                        font-size: 24px;
                        line-height: 30px;
                        left: 3px;
                    }

                    .logintext {
                        background-color: #E8E7E4;
                        line-height: 26px;
                        height: 30px;
                        padding: 2px 10px 2px 32px;
                        border: solid #E8E7E4 1px;
                        border-radius: 5px;
                    }

                    .loginBottom {
                        background: #ff8e00;
                        border: 1px solid #ff8e00;
                        width: 60px;
                        height: 30px;
                        color: #fff;
                        padding: 0px 10px;
                        font-size: 13px;
                        line-height: 29px;
                    }

                    .codeLoginBottom {
                        background: #ff8e00;
                        border: 1px solid #ff8e00;
                        width: 86px;
                        height: 30px;
                        color: #fff;
                        padding: 0px 10px;
                        font-size: 13px;
                        line-height: 29px;
                    }

                    .textimg {
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        top: 4px;
                        left: 4px;
                    }
                }
            }
        }

        .head-pwd {
            text-align: right;

            .spanColor {
                font-size: 14px;
                line-height: 35px;

                a {
                    color: #333;
                    text-decoration: none;
                    font-size: 12px;
                    line-height: 1.42857143;
                    box-sizing: border-box;
                }
            }
        }

        .t_v_ReqStar {
            display: none;
        }

        .t_v_ErrMsg {
            z-index: 100 !important;
            left: 170px !important;
        }
    }

    .mHeadTo {
        width: 100%;
        height: 50px;
        background: #fff;
        box-shadow: 0px 2px 5px 0px rgba(3,3,3,0.2);
        min-width: 1000px;

        .spanHeadTo {
            line-height: 30px;
            height: 50px;
            padding: 10px;
            color: #333;
            font-size: 18px;
            min-width: 115px;
            display: inline-block;
            cursor: pointer;
            text-align: center;
        }

            .spanHeadTo:hover {
                border-bottom: solid #FF8E00 2px;
            }

        .selected {
            border-bottom: solid #FF8E00 2px;
        }
    }
}

.wrapContenxt {
    margin-bottom: 70px;

    .indexImg {
        width: 970px;
        height: 300px;
    }
}

.wrapButtom {
    width: 100%;
    height: 80px;
    background: #242524;
    text-align: center;
    display: table;
    color: #ffffff;
    min-width: 1000px;

    .mButtom {
        display: table-cell;
        vertical-align: middle;

        .helpLink {
            line-height: 26px;

            a, a:active, a:hover, a:visited {
                color: #ffffff;
            }
        }

        .beiInfo {
            line-height: 24px;
        }
    }
}

.cFont {
    font-size: 14px;
    color: #f5f4f3;
}

.HeightAll {
    height: 100%;
}

.Height20 {
    height: 20px;
}

.Height10 {
    height: 10px;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.rightNav {
    text-align: right;
}

.row {
    margin: 0px;
}

.tables {
    width: 500px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;

    .td {
        cursor: pointer;
        font-size: 13px;
        height: 40px;
    }

    .tdGray {
        background: #F5F4F3;
        border: solid 1px #e7E5E2;
        border-right: solid 0px #e7E5E2;
        color: #333;
    }

        .tdGray:last-child {
            border-right: solid 1px #e7E5E2;
        }

    .tdYellow {
        background: #FF8E00;
        border: 1px solid #FF8E00;
        color: #ffffff;
    }
}

.colorY {
    color: #FF8E00;
}

.colorB {
    color: #333;
}

.colorBlue {
    color: blue;
}

.colorR {
    color: #F86565;
}

.BorderGray {
    border-top: solid #ccc 1px;
}

.fsBorderGray {
    border-top: solid #ccc 1px;
    margin: 0px 15px;
}

.BorderText {
    width: 130px;
    border: 0px;
    padding-top: 15px;
    text-align: center;
    margin: auto;
}

.sp-more, .ds-more, .bowen-more {
    min-height: 20px;
    text-align: center;
}


.index-comment {
    text-align: left;

    .index-comment-item {
        position: relative;
        /*padding-left: 0px;*/
        .head {
            .userimg {
                position: absolute;
                cursor: pointer;
                width: 50px;
                height: 50px;
                padding: 2px;
                top: 15px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

            .userinfo {
                position: absolute;
                left: 55px;
                top: 15px;

                .username {
                    float: left;
                    margin: 0px 10px 0px 20px;
                    color: #FF8E00;
                    font-size: 14px;
                    cursor: pointer;
                }

                .time {
                    float: left;
                    margin: 0px 0px 0px 0px;
                    font-size: 14px;
                }
            }
        }

        .content {
            height: 108px;
            line-height: 21px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            word-break: normal;
            padding: 45px 5px 0px 58px;
            color: #333;
            cursor: pointer;
        }

        .iocn {
            margin-top: 55px;

            .comment {
                position: absolute;
            }
        }

        .buttom {
            margin: 8px 0px 18px;
            text-align: right;

            .comment {
                display: inline;
                margin: 0px 5px;
            }

            .zan {
                display: inline;
                margin: 0px 5px;
            }

            .score {
                display: inline;
                margin: 0px 5px;
            }
        }

        .borderdesh {
            border-bottom: 1px dashed #e4cdcd;
        }

        .bordersliod {
        }

        .empty {
            text-align: center;
            font-size: 20px;
            color: #FF8E00;
            height: 100px;
            line-height: 100px;
        }
    }
}

.buttonGray {
    width: 200px;
    height: 40px;
    background-color: #f5eeee;
}

.index-bowen {
    .index-bowen-item {
        position: relative;
        margin: 0px 15px;
        padding: 15px 0px;

        .col-xs-4 {
            padding: 0px 10px 0px 0px;
        }

        .col-xs-8 {
            padding: 5px 0px 0px 10px;
        }

        .bowen-img {
            width: 313px;
            height: 188px;
            cursor: pointer;
        }

        .head {
            height: 40px;

            .userimg {
                display: inline;
                margin: -10px 0px 0px 0px;
                padding: 3px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

            .username {
                display: inline;
                margin: 0px 10px 0px 0px;
                color: #FF8E00;
                font-size: 14px;
            }

            .time {
                display: inline;
                font-size: 14px;
            }
        }

        .context {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            word-break: normal;
            line-height: 21px;
            height: 63px;
            cursor: pointer;
        }

        .title {
            font-size: 20px;
            color: black;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            word-break: normal;
            line-height: 30px;
            height: 30px;
            cursor: pointer;
        }

        .icon {
            height: 40px;
            line-height: 40px;

            .comment {
                position: absolute;
            }

            .zan {
                position: absolute;
                left: 12%;
                padding-bottom: 2px;
            }

            .score {
                position: absolute;
                left: 23%;
            }
        }
    }

    .borderdesh {
        border-bottom: 1px dashed #e4cdcd;
    }
}

.Center {
    text-align: center;
}

.Pointer {
    cursor: pointer;
}

.userHeadImg {
    cursor: pointer;
    width: 36px !important;
    height: 36px !important;
    padding: 2px;

    img {
        width: 32px !important;
        height: 32px !important;
    }
}

.layui-layer-login {
    .layui-layer-title {
        padding: 0 80px 0 20px;
        border-bottom: 1px solid rgb(246, 131, 26);
        font-size: 16px;
        color: rgb(255, 255, 255);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: rgb(255, 142, 0);
        border-radius: 2px 2px 0 0;
    }

    .layui-layer-content {
        overflow: hidden !important;

        .row {
            padding: 5px;

            .col-xs-12 {
                padding: 5px;
            }
        }
    }

    .layui-layer-btn {
        text-align: right;
        padding: 0 6px 6px 6px !important;
        pointer-events: auto;

        a {
            border: 1px solid #dedede;
            margin: 0 5px;
            background-color: #f1f1f1;
            color: #333;
            border-radius: 2px;
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;
        }

        .layui-layer-btn0 {
            border-color: rgb(246, 131, 26);
            background-color: rgb(255, 142, 0);
            color: rgb(255, 255, 255);
        }
    }
}

.dlg-qrcode {
    padding: 15px;
    width: 260px;
    height: 260px;
    display: table;

    .qrcode-tip {
        width: 230px;
        height: 230px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 18px;
        color: #ff8800;
        border: solid 1px #eeeeee;
    }

    .qrcode-img {
        width: 230px;
        height: 230px;
        display: none;
    }
}

.share-score {
    span {
        margin-left: 10px;
        color: #F10404;
        font-size: 14px;
    }

    a {
        text-decoration: underline;
        color: #2004F5;
    }
}

.layui-layer-send-notice {
    .dlg-notice-type {
        height: 40px;
        line-height: 40px;

        .span-type {
            padding: 4px 8px;
            margin: 0px 15px 0px 0px;
            cursor: pointer;
        }

        .selected {
            border-color: #f6831a;
            background-color: #ff8e00;
            color: #fff;
            border-radius: 5px;
        }
    }
}

.textCheck {
}

.textError {
    background-color: #FFF5FA !important;
    border: 1px solid #F8B3D0 !important;
}

.comment, .zan, .score {
    img {
        margin: -3px 2px 0px 2px;
    }
}

.empty {
    text-align: center;
    font-size: 20px;
    color: #FF8E00;
    height: 100px;
    line-height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.username {
    cursor: pointer;
}

.btn-disabled {
    opacity: 0.7 !important;
    text-decoration: none !important;
}

    .btn-disabled:hover {
        opacity: 0.7 !important;
        text-decoration: none !important;
    }

.stockChart {
    .warp-stock {
        background: #F7FAFF;
        margin-left: 25px;
        margin-right: 40px;

        .stock-title {
            margin-top: 15px;
            margin-left: 15px;

            .title {
                font-size: 25px;
                color: #012793;
                font-family: 微软雅黑;
                font-weight: normal;
            }

            .sm-title {
                margin-left: 15px;
                font-size: 14px;
                font-family: 宋体;
                color: #012793;
            }

            .time {
                margin-left: 20px;
                font-size: 15px;
                color: #bbbbbb;
                font-family: 宋体;
            }

            .button {
                color: #F54545;
                font-size: 20px;
            }
        }

        .stock-price {
            margin-left: 15px;

            .nowPrice {
                font-size: 24px;
            }

            .nowDiff {
                margin-left: 20px;
                font-size: 20px;
            }
        }

        .warpper-detail {
            padding-bottom: 15px;
            border-top: 1px solid #EAEAEA;
            margin: 10px 20px 20px 20px;

            .stock-data {
                margin-top: 15px;
            }
        }
    }




    .stock-chart-detail {

        .banner {
            padding: 0px 5px 0px 15px;
        }

        .col-xs-3 {
            padding-left: 0px;
            padding-right: 0px;

            .stockdetail {
                line-height: 30px;
                font-size: 14px;

                .col-xs-4, .col-xs-8 {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .nowPrice {
                    font-size: 20px;
                }

                .jiantou {
                    width: 20px;
                    height: 20px;
                    margin: 0 10px 5px;
                }
            }
        }
    }
}

.warp-notice {
    width: 210px;
    min-height: 260px;


    .panel-heading {
        font-size: 16px;
        background: #fff;

        img {
            width: 45px;
            height: 38px;
            padding-bottom: 5px;
        }
    }

    .panel-body {

        ul li {
            color: #337ab7;
            cursor: pointer;
            line-height: 2;
            list-style-type: square;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            list-style-position: inside;
        }

            ul li:hover {
                color: #23527c;
                cursor: pointer;
            }
    }
}



.cRed {
    color: #f24957;
}

.cGreen {
    color: #1dbf60;
}

.cFont1 {
    color: #92a0ac;
}

.cFont2 {
}

.registerfont {
    font-size: 13px;
    font-family: '宋体';
    font-weight: bold;
    cursor: pointer;
}
