.wrapServiceIndex {
	.col:hover {
		background-color: #E0DFDF;
	}
	.wrapTopMenuList {
		text-align: center;
		background-color: #fff;
		padding-top: 2px;
  		padding-bottom: 2px;

		.col>div:nth-child(1) {
			.size(38px, 38px);
			margin: 0 auto;
			line-height: 38px;
			border-radius: 50px;
			color: #fff;

			.iconfont {
				font-size: 24px;
			}
		}
		.col:nth-child(1)>div:nth-child(1) {
			background-color: #4fe0aa;
		}
		.col:nth-child(2)>div:nth-child(1) {
			background-color: #3faf2e;
		}
		.col:nth-child(3)>div:nth-child(1) {
			background-color: #6ae3ff;
		}
		.col:nth-child(4)>div:nth-child(1) {
			background-color: #79e845;

			.iconfont {
				font-size: 28px;
			}
		}
		.col>div:nth-child(2) {
			margin-top: 6px;
			color: #909090;
		}
	}
	.wrapAd {
		background-color: #fff;
		overflow: hidden;
		height: 136px;
		position: relative;

		/*padding: 10px;*/
		img {
			width: 100%;
			height: 158px;
		}
		.imgIndex {
			width: 100%;
			position: absolute;
			text-align: right;
			bottom: 6px;
			font-size: 18px;
			padding-right: 10px;
		}
		div.rn-carousel-indicator span {
			color: #949292;
		}
		div.rn-carousel-indicator span.active {
			color: #fff;
		}
		.title {
			text-align: left;
			position: absolute;
			bottom: 0;
			padding: 3px 10px;
			background-color: rgba(83, 83, 83, 0.48);
			width: 100%;
			color: #fff;
			font-size: 14px;
		}
	}
	.wrapCenterMenu {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 10px;
		background-color: #fff;
		.iconfont {
			font-size: 28px;
			position: relative;
			top: 10px;
		}
		.icon-jifen{
			color: #f4b5ec;
		}
		.icon-dingdan{
			color: #ffc147;
		}
		ul>li:nth-child(2){
			width: 78px;
			text-align: center;
		}

	}

	.wrapBottomMenu{
		background-color: #fff;
		text-align: center;
		font-size: 14px;
		.row{
			padding-top: 0;
			padding-bottom: 0;
		}
		.col{
			padding: 10px;
			height: 86px;
		}
		.col>div:nth-child(1){
			height: 48px;
			line-height: 48px;
		}
		.iconfont {
			font-size: 40px;
			/*position: relative;
			top: 10px;*/
		}
		.icon-qiche{
			font-size: 52px;
			color: #64e0ab;
			position: relative;
 			top: 2px;
		}
		.icon-youhuiquan{
			color: #3faf2e;
		}
		.icon-rizhi{
			color: #5fce31;
		}
		.icon-gongwuxiang{
			color: #64e5ff;
		}
	}

	.wrapFooterMenu{
		height: 38px;
		line-height: 38px;
		text-align: center;
		background-color: #40b030;
		color: #fff;
		width: 100%;
		font-size: 14px;
	}
}
.wrapServiceIndex.wrapInsuranceDialog{
	height: 240px;
	padding: 50px 30px;

}
.wrapServiceIndex.wrapInsuranceDialog>div:nth-child(1){
	margin-bottom: 10px;
	font-size: 14px;
	color: #5F5F5F;
}
.wrapServiceIndex.wrapInsuranceDialog>div:nth-child(2){
	margin-bottom: 42px;
	select{
		padding: 5px 10px;
		color: #8F8F8F;
		.allRadius(3px);
	}
}
.wrapServiceIndex.wrapInsuranceDialog>div:nth-child(3){
	text-align: center;
}