#wrapLotteryAwards {
    border: 1px solid;
    border-radius: 5px;
    border-color: #CCCCCC;
    margin-top: 10px;
    input[type=text] {
        width: 90%;
    }
    select{
        max-width:90%;
        padding: 6px 0;
    }
    .lotteryValue {
        a{
            color: #095cfd;
            font-weight: bolder;
            text-decoration: underline;
        }
    }
    table{
        th{
            height: 46px;
        }
    }
    
}

.tdTitle {
    font-weight: bold;
}

input[type=text] {
    height: 30px;
}
      
.wrapOperate{
    margin: 60px 0 20px;
    padding: 4px 0;
    bottom: 0px;
    line-height: 55px;
    text-align: center;
    width: 100%;
    background-color: rgb(245, 245, 245);
    a{
        font-weight: bold; width: 200px;
    }
}  
.colorRed{
    color:red;
}