@import url("http://comeoncloud.com/meitangold5/nav_ico.css");@charst "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%}
q:before,q:after{content:''}
table{table-layout:fixed;border-collapse:collapse;border-spacing:0}
th,td{vertical-align:top}
i{overflow:hidden;display:inline-block}
iframe{background-color:white}
input[type="radio"],input[type="checkbox"]{margin-right:2px;#margin-right:0}
input{font-size:12px;font-family:Tahoma,Arial, Helvetica, sans-serif;-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;outline-color:-moz-use-text-color;outline-style:none;outline-width:medium}
label input{position:relative;top:2px;top:1px;font-size:12px}
textarea{overflow:auto;padding:1px 0 0 1px;font-size:12px}
select{font-size:12px}
cite{line-height:33px;display:none;text-indent:-999px}
body{margin:0px;padding:0px;font-size:12px;color:#333;font-family:Tahoma,Arial, Helvetica, sans-serif,"Hiragino Sans Gb","Microsoft YaHei";background:#fff}
a{color:#333;text-decoration:none;outline:0}
.clear{clear:both;display:block;height:0;overflow:hidden;font-size:0}
.hide{display:none}
.box{margin:0 auto;padding-bottom:50px;-webkit-user-select:none}body{background-color:#53597f}
#slides{height:100%;width:100%;position:fixed;box-sizing:border-box;top:0px;left:0px;z-index:0;}
#slides .slider{display:block;width:100%;height:100%;position:absolute;top:0px;left:0px}
#slides .slider .sliderimg{display:block;width:100%;height:100%;background:no-repeat center top;background-size:cover}
#slides .slider .text{width:100%;height:26px;line-height:26px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;position:absolute;left:0px;bottom:0px;text-align:left;line-height:26px;color:#fff;background-color:rgba(0,0,0,0.5);box-sizing:border-box;padding-right:80px}
#slides .slidesjs-navigation{display:none}
#slides .slidesjs-pagination{position:absolute;top:10px;right:10px;z-index:99}
#slides .slidesjs-pagination li{float:left;margin:0 1px}
#slides .slidesjs-pagination li a{display:block;width:13px;height:0;padding-top:13px;background-size:13px 39px;background-image:url(../images/pagination.png?v=001);background-position:0 0;float:left;overflow:hidden}
#slides .slidesjs-pagination li a.active,#slides .slidesjs-pagination li a:hover.active{background-position:0 -13px}
#slides .slidesjs-pagination li a:hover{background-position:0 -26px}
#slides .slidesjs-container,#slides .slidesjs-control{width:100% !important;height:100% !important}
#slides .slidesjs-navigation{display:none}



.catgorybox{ position:relative; z-index:100; margin:300px 50px 0;}
.category .cat{position:relative;float:left;width: 49%;height:40px;margin: 0 2px 2px 0;line-height: 40px;text-align: center;background: #fff;background:rgba(255,255,255,0.7);filter:alpha(opacity=70);color: #333;font-size: 14px;}
.category .cat .pic{display:none;width:100%;height:80px;position:absolute;left:0px;bottom:0px}




.category .cat .text{position:absolute;left:0px; width:100%;text-align:center;color:#333;font-size:14px}
.category .zixun {
position: absolute;
  top: -60px;
  right: -42px;
  display: block;
  width: 50px;
  height: 61px;
  background: url(../images/zixun.png) no-repeat;
}
.category:after{content:".";display:block;height:0;clear:both;visibility:hidden}





.mianlist{width:100%}
.mianlist .list{display:block;width:100%;height:70px}
.mianlist .list a{display:block;width:100%;height:71px;box-sizing:border-box;padding:10px;position:relative;padding-left:70px}
.mianlist .list .listpic{width:50px;height:50px;position:absolute;left:10px;top:10px;border-radius:5px}
.mianlist .list h2{display:block;width:100%;height:16px;line-height:16px;overflow:hidden;color:#fff}
.mianlist .list p{display:block;width:100%;height:34px;line-height:17px;overflow:hidden;color:#fff}
.mianlist .list:nth-child(2n){background-color:rgba(255,255,255,0.2)}
.articlepage{background-color:#FFF}
.article{display:block;width:100%;height:auto;box-sizing:border-box;padding:10px;font-size:16px;color:#333;line-height:22px}
.article h2{font-size:22px;line-height:36px;margin-bottom:0px}
.article img{width:100%}
.sharebtn{display:block;width:100%;height:auto;box-sizing:border-box;padding:10px}
.sharebtn .btnbox{display:block;width:50%;height:44px;box-sizing:border-box;padding:0 5px 0 0;float:left}
.sharebtn .btnbox .sharefriend,.sharebtn .btnbox .sharecircle{border:1px solid #ccc;box-sizing:border-box;padding-left:40px;text-align:center;position:relative;line-height:42px;font-size:16px;box-shadow:0 0 4px rgba(0,0,0,0.15)}
.sharebtn .btnbox .sharefriend .icon,.sharebtn .btnbox .sharecircle .icon{background-image:url(../images/icons2.png?v=0.0.5);background-size:60px 30px;position:absolute;left:10px;top:6px}
.sharebtn .btnbox .sharefriend .icon{display:inline-block;width:30px;height:30px;background-position:0px 0px;background-repeat:no-repeat}
.sharebtn .btnbox .sharecircle .icon{display:inline-block;width:30px;height:30px;background-position:-30px 0px;background-repeat:no-repeat}
.sharebtn .btnbox:last-child{padding:0 0 0 5px}
.sharebtn:after{content:".";display:block;height:0;clear:both;visibility:hidden}
footer{width:100%;height:30px;text-align:center;margin-top:10px;color:#fff}
nav{width:100%;height:50px;background-color:#3a3a3a;position:fixed;left:0px;bottom:0px; z-index:101;}
nav .navbtn{display:block;width:20%;height:50px;float:left;text-align:center;box-sizing:border-box;padding-top:5px}
nav .navbtn .text{display:block;width:100%;height:18px;color:#666}
.toptool{width:100%;height:40px;background-color:#2f3558;position:fixed;top:0px;left:0px}
.toptool .back{display:block;width:60px;height:40px;float:left}
.toptool .back .icon{display:block;width:40px;height:40px;margin:0 auto;background-image:url("../images/back.png?v=0.0.2");background-size:40px 40px}
.shade{display:block;width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:999;background-color:rgba(0,0,0,0.8)}
.shade .icon{display:block;width:210px;height:150px;background-image:url("../images/sharetext.png?v=0.0.1");background-size:210px 150px;position:fixed;top:0px;right:15px}@media all and (max-width: 319px){.box{width:100%;box-sizing:border-box}}@media all and (min-width: 320px){.box{width:320px}}@media all and (min-width: 360px){.box{width:360px}


