@charset "utf-8";
@import "//at.alicdn.com/t/font_1462863827_036879.css";
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1462863826_6763167.svg#iconfont') format('svg');
}
body {
  /*width: 100%!important;*/
  overflow-x: hidden;
}
div {
  max-width: 100%!important;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.clear-both {
  clear: both;
}
.pLeft0 {
  padding-left: 0;
}
.pRight0 {
  padding-right: 0;
}
.bglinghtRed {
  background: #BF5B5E !important;
}
.colorRed {
  color: Red;
}
.color204 {
  color: #cccccc;
}
.color999 {
  color: #999999;
}
.articlebox img {
  max-width: 100%!important;
}
.wrapBuy {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
}
.wrapBuy .wrapBuyItem .buyItem {
  margin-bottom: 10px;
  padding: 6px;
  border: 1px dashed #cccccc;
  position: relative;
  overflow: hidden;
}
.wrapBuy .wrapBuyItem .buyItem .amount {
  color: #8f8f8f;
}
.wrapBuy .wrapBuyItem .buyItem .name {
  color: #6d6d6d;
}
.wrapBuy .wrapBuyItem .buyItem .description {
  color: #cccccc;
}
.wrapBuy .wrapBuyItem .checked {
  display: none;
}
.wrapBuy .wrapBuyItem .checkIcon {
  display: none;
}
.wrapBuy .wrapBuyItem .isChecked .checkedbg {
  display: none;
  width: 30%;
  height: 65%;
  position: absolute;
  /* bottom: -15px; */
  right: -12%;
  top: 60%;
  overflow: hidden;
  background-color: #b0cc78;
  transform: rotate(-48deg);
}
.wrapBuy .wrapBuyItem .isChecked .checkIcon {
  display: block;
  color: #b0cc78;
  position: absolute;
  font-size: 30px;
  top: 52%;
  right: 2%;
}
.wrapBuy .wrapBuyItem .buyItem.isChecked {
  border: 6px dashed #98b75a;
  padding: 10px;
}
.wrapScore,
.wrapCoupon,
.wrapAmount {
  margin-top: 20px;
  padding-top: 10px;
  /* margin-bottom: 20px; */
  border-top: 1px solid #cccccc;
}
#chkUseScore {
  margin-right: 6px;
  position: relative;
  top: 3px;
}
.wrapAmount .input-group-addon {
  background-color: #fff;
  border: 0;
}
#wrapSelectCoupon {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #FBFBFB;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding-bottom: 14%;
}
#wrapSelectCoupon .noCoupon {
  text-align: center;
  padding-top: 20%;
  color: #ccc;
  display: none;
}
#wrapSelectCoupon .header {
  width: 100%;
  height: 50px;
  background-color: #FFF;
  font-size: 20px;
  padding: 12px;
  color: #7C7B7B;
  border-bottom: 1px solid #ddd;
}
#wrapSelectCoupon .btnClose {
  color: #7C7B7B;
}
#wrapSelectCoupon .couponList {
  /*height: 88%;*/
}
#wrapSelectCoupon .couponBtn {
  text-align: center;
  padding: 2%;
  padding-bottom: 4%;
  position: absolute;
  width: 100%;
  bottom: 0;
}
#wrapSelectCoupon .wrapCouponTotalCount {
  text-align: center;
  margin: 4%;
  font-size: 16px;
  color: #7C7B7B;
}
#wrapSelectCoupon .wrapCouponDataList {
  color: #ffffff;
  padding: 0 2%;
}
#btnSelectCoupon {
  color: #ffffff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}
.new-coupons .new-coupon {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #e3393c;
  position: relative;
  margin: 15px 0 0;
  overflow: hidden;
}
.new-coupons .new-coupon .coupon-type {
  padding: 5px 10px 0;
}
.new-coupons .new-coupon .coupon-desc {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 28px;
  line-height: 28px;
  background: #b62e30;
  border-radius: 4px;
}
.new-coupons .new-coupon .big-white-circle-left {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #fff;
  position: absolute;
  left: -3px;
  bottom: 25px;
}
.new-coupons .new-coupon .big-white-circle-right {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #fff;
  right: -3px;
  bottom: 25px;
}
.new-coupons .new-coupon .small-white-circle-wrap {
  position: absolute;
  width: 98%;
  height: 2px;
  left: 3px;
  bottom: 27px;
  overflow: hidden;
}
.new-coupons .new-coupon .coupon-content .coupon-left {
  float: left;
  width: 30%;
  height: 70px;
  line-height: 60px;
  text-align: center;
}
.new-coupons .new-coupon .coupon-content .coupon-left .big-word {
  font-size: 30px;
}
.new-coupons .new-coupon .coupon-content .coupon-center {
  float: left;
  height: 70px;
  width: 60%;
}
.new-coupons .new-coupon .coupon-content .coupon-center .title {
  font-size: 18px;
}
.new-coupons .new-coupon .coupon-content .coupon-center .desc {
  font-size: 15px;
}
.new-coupons .new-coupon .coupon-content .coupon-center .time {
  font-size: 12px;
}
.new-coupons .new-coupon .coupon-content .coupon-right {
  float: right;
  height: 70px;
  line-height: 60px;
  text-align: left;
  width: 10%;
}
.new-coupons .new-coupon .coupon-content .coupon-right .iconfont {
  font-size: 30px;
}
#btnShowSelectCoupon {
  font-size: 16px;
}
footer {
  height: 150px;
  width: 100%;
  background: #f5f5f5;
  text-align: center;
  color: #bbbbbb;
}
footer ul {
  margin: 26px auto 15px auto;
  display: inline-block;
  padding: 0;
  font-size: 16px;
}
footer ul li {
  min-width: 70px;
  float: left;
  font-size: 14px;
  line-height: 1;
  border-right: 1px solid #bbbbbb;
  list-style: none;
  padding: 0 2px;
  overflow: hidden;
}
footer ul li a {
  color: #bbbbbb !important;
}
footer ul li:last-child {
  border: none;
}
footer .copyright-box {
  /*font-size: 12px;*/
}