.storeDemandCtrl {
  .list {
    margin-bottom: 0;
  }
  .item {
    color: #878383;

    span {
      color: #bbb;
    }
  }
  .listTitle {
    line-height: 40px;
    font-size: 16px;
    padding-left: 5px;
  }

  .stores {
    margin-top: 10px;
  }

  .icon-right {
    float: right;
  }

  .comment {
    padding: 10px;
    textarea {
      width: 100%;
      height: 50px;
      padding: 5px;
    }
  }

  .confirmButton {
    color: white;
    background-color: @colorPrimary;
  }
}

.storeDemandSuccessDialogTitle {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

.storeDemandSuccessDialogContent {
  padding: 10px;
  padding-top: 0;
  font-size: 14px;
}

.storeDemandSuccessDialogBtn {
  text-align: center;
  padding-bottom: 10px;
}