.wrapApply{
  .content{
    margin-bottom: 83px;

    .list-sale {
      margin-top: 0px !important;
      .userHeader{
        background-image: url(http://files.comeoncloud.net/img/headerbg.png);
        height: 106px;
        background-size: 100% 100%;
        padding-top: 14px;
        padding-left: 14px;
        .userAvatar{
          width: 68px;
          height: 68px;
          -webkit-border-radius: 50px !important;
          -moz-border-radius: 50px !important;
          border-radius: 50px !important;
          border: 2px solid #5d657d;
          padding: 4px;
          background-size: 68px 68px;
          display: inline-block;
          position: relative;
        }
        .nickName{
          position: absolute;
          top: 36px;
          left: 95px;
          color: #F7C403;
          font-size: 20px;
          margin-right: 10px;
        }
        .levelName{
          color: #ffffff;;
        }
        p{
          color: #ffffff;
          margin-top: 6px;
        }
      }
    }

    .list{
      margin-top: 40px;
      .item-reset{
        border-width: 0px;
        background: #EEEEEE;
        padding-right: 43px;
        padding-left: 43px;
        .leftWord{
          position: relative;
          left: 52px;
        }
        .input-style{
          border: 1px solid #ddd;
          background-color: #fff;
          border-radius: 4px;
          padding-left: 10px;
        }
      }
    }
    .padding{
      padding-left: 80px;
      padding-right: 80px;
      .change{
        min-height: 35px;
        line-height: 22px;
        border-radius: 4px;
        font-size: 14px;
      }
    }
    .tips{
      text-align: center;
      font-size: 20px;
      padding: 61px;
    }
  }
}