<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=114.215.174.224;database=CommonPlatform_Preview;uid=sa;pwd=comeoncloudzz!@#$" />
    <add key="RedisExchangeHosts" value="127.0.0.1:6379" />
    <add key="RedisPreKey" value="dev" />
  </appSettings>
  <socketServer>
    <servers>
      <server name="ZentCloudWebSocket" serverTypeName="SuperWebSocket" ip="Any" port="4502" maxConnectionNumber="100000">
      </server>
    </servers>
    <serverTypes>
      <add name="SuperWebSocket" type="SuperWebSocket.WebSocketServer, SuperWebSocket" />
    </serverTypes>
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.608.0" newVersion="1.1.608.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>