<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=116.62.12.104;database=songheDev20170518;uid=sa;pwd=yuegongbao@@@123" />
    <!--<add key="ConnectionString" value="server=121.40.195.110;database=CommonPlatform_Dev2;uid=sa;pwd=comeoncloudzz!@#$" />-->
    <add key="WebSitePath" value="D:\Project\mmp\Web" />
    <!--至云-->
    <add key="ComeoncloudAppId" value="comeoncloud" />
    <add key="ComeoncloudAppKey" value="jWmYm7qr5nMoAUwZRjGtBxmz3KA1tkAj3ykkR6q2B2C" />
    <!--短信域名-->
    <add key="SmsDomain" value="smssandbox.comeoncloud.net" />
    <add key="OSS_Domain" value="http://open-files.comeoncloud.net" />
    <add key="Oss_Enable" value="1" />
    <add key="Oss_AccessId" value="pfQr6tsJS8hnEFwy" />
    <add key="Oss_AccessKey" value="LooDPp4ljvfZkutZrHouKVNKJ2SbXE" />
    <add key="Oss_Bucket" value="comeoncloud-open" />
    <add key="Oss_Point" value="http://oss-cn-hangzhou-internal.aliyuncs.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.608.0" newVersion="1.1.608.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

