.wrapArticle {
    .inputRegion {
        width: 300px;
        height: 40px;
        margin: 10px;

        .titleStyle {
            width: 300px;
        }
    }

    .textareaRegion {
        width: 300px;
        height: 200px;
        margin: 10px;

        .contentStyle {
            width: 300px;
            height: 200px;
        }
    }

    .country {
        margin: 10px;

        .spanStyle {
            color: #0095E1;
        }

        .selectStyle {
            min-width: 80px;
        }

        .labelChoose {
            width: 220px;
        }

        .TagsRegion {
            width: 350px;
        }
    }

    .buttonStyle {
        width: 200px;
        height: 30px;
        margin-left: 80px;
        margin-bottom: 60px;

        .reset {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 60px;
        }

        .publish {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 60px;
            background-color: #0095E1;
        }

        .button {
            min-height: 24px;
            line-height: 24px;
        }

        .button-positive {
            margin-left: 10px;
        }
    }
}

.warpTagsDialog {
    /*overflow-y: auto;
    max-height: 200px;
    margin-top: 20px;*/
    margin-top: 20px;
    height: 280px !important;

    .tagDiv {
        background-color: #E1DFDB;
    }

    .solidLine {
        width: 280px;
        border: 1px #E1DFDB solid;
    }

    .headerBar {
        width: 280px;
        height: 30px;

        .cancel {
            margin-left: 20px;
            text-align: center;
            width: 50px;
            background-color: #E1DFDB;
            float: left;
        }

        .labelChoose {
            font-weight: bold;
            margin-left: 40px;
            margin-right: 10px;
            float: left;
        }

        .confirm {
            color: #fff;
            margin-left: 33px;
            text-align: center;
            width: 50px;
            background-color: #0095E1;
            float: left;
        }
    }

    .list {
        overflow-y: auto;
        max-height: 200px;

        .oneTag {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
