.wrapCompanyEdit{
	background-image: url(/customize/10000care/m/static/img/care/my/bg.png);
	color: #fff;
	.wrapInputDark{
		height: 36px;
		line-height: 36px;
		margin-top: 5px;
    	padding-left: 5px;
	}
	.textareaDark{
		height: 120px;
	}
	.wrapInputDark.selectDark{		
		margin-left: 0;
	}
}