.wrapIndex{
	min-height: 100%;
	background-image: url(/customize/10000care/m/static/img/care/index/indexbg.png);
	background-size: 100% 100%;
	position: relative;
	.topword{
		width: 90%;
		left: 5%;
    	position: absolute;
    	top: 5%;
	}
	.findprojectbtn{
		position: absolute;
		top: 40%;
	    width: 36%;
	    left: 35%;
	    padding: 10px;
	}
	.pubprojectbtn{
		top: 70%;
	    position: absolute;
	    width: 44%;
	    left: 30%;
	}
	.findprojectbtn:hover,.pubprojectbtn:hover{
		background-color: #051433;
		opacity: 0.8;
	}
}