.wrapSubmitInfo{
  .content{
    margin-bottom: 120px;
    .list-reset{
      margin-left: 30px;
      margin-right: 30px;
    }

    .bottomDev{
//      position: fixed;
//      bottom: 0px;
//      width: 100%;
      padding-top: 10px;
      .padding{
        padding-left: 80px;
        padding-right: 80px;
        .change{
          min-height: 35px;
          line-height: 22px;
          border-radius: 4px;
          font-size: 14px;
        }
      }
      .devlist{
        padding: 0 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 22px;
        color: gold;
      }
    }
    .wrapForm{
      margin-top: 24%;
    }
  }
}