.directiveSelectAddress {
  height: 240px;
  padding: 50px 30px;

  select{
    box-sizing: border-box;
    padding: 5px 10px;
    color: #8F8F8F;
    .allRadius(3px);
    max-width: 82px;
    .overflow_ellipsis;
  }

  &>div:nth-child(1){
    margin-bottom: 10px;
    font-size: 14px;
    color: #5F5F5F;
    display: inline-block;
  }
  &>div:nth-child(2){
    margin-bottom: 42px;
    display: inline-block;
  }
  &>div:nth-child(3){
    text-align: center;
  }
}