.wrapInternet{
	min-height: 100%;
	background-image: url(http://comeoncloud-open.oss-cn-hangzhou.aliyuncs.com/wanbancare%2Fwap%2Fbg.png);
	background-size: 100% 100%;
	position: relative;
	text-align: center;
	overflow-x: hidden;
	img{
		border-bottom-right-radius:0;
		border-radius: 0px !important;
	}
	img:nth-child(1){
		width: 96%;
		margin: 6% 0 10%;
	}
	.row{
		position: relative;
		padding: 0;
		margin: 0 8%;
		border-left: 1px solid #567ca6;
		overflow: visible;
		.col{
			color: #fff;
			overflow: visible;
			padding: 0 0 30px 12px;
			.title{
				font-size: 20px;
			}
			.subTitle{
				font-size: 14px;
			}
		}
		.dian{
			position: absolute;
			display: block;
			width: 12px;
			height: 12px;
			left: -6px;
			top: -3px;
			border-radius: 50px;
			background-color: #567ca6;
		}
		.logo{
			padding: 4px;
			border-radius: 50px;
			position: relative;
			top: -32px;
			img{
				height: 56px;
	    		width: 56px;
                border-radius:50px !important;
    		}
		}

	}
}