/*发布项目*/
/*fbxm*/
.fbxm{ padding:10px 15px;}
.fbxm p{ line-height:30px; overflow:hidden; margin-bottom:10px;}
.fbxm p label{ float:left; font-size:14px; font-weight:bold;}
.input100{ height:16px; line-height:16px; padding:6px; border:1px solid #d1d1d1; border-radius:5px; background:#fff; color:#404040; font-size:12px; font-weight:bold;}
.fbxm p .name{ width:130px;}
.fbxm p .class{ width:80px;}
.fbxm p .cycle{ width:94px;}


.fbxm p.logistics{ position:relative;}
.fbxm p.logistics .wl{ float:left; font-size:14px; font-weight:bold;}
.fbxm p.logistics .radiobox{ position:absolute; left:-100px; top:0; width:1px; height:1px; display:block;}



.fbxm p.logistics label{ float:left; padding:6px 0 8px 0; height:16px; line-height:20px; margin-right:12px; color:#404040; font-size:12px;}
.fbxm p.logistics label .wbtn{ float:left; width:14px; height:14px; margin-right:5px; border-radius:4px; border:1px solid #999;}
.fbxm p.logistics label .wbtn .iconfont{ &:before{content:"　";} display:block; margin:2px auto 0; line-height:12px; color:#fff; font-size: 12px;}
.fbxm p.logistics .radiobox:checked+label .wbtn .iconfont{&:before{content: "\e622";}}

.fbxm p.logistics .radiobox:checked+label .wbtn{ width:14px; height:14px; border-color:#5a8ece; background:#5a8ece; border-radius:4px;}







/*.fbxm p.logistics label .wbtn .iconfont{ display:block; marign:2px auto; line-height:12px; font-size:12px;}*/



.fbxm p .req{ display:block; width:95%; height:60px; line-height:16px; padding:6px; border:1px solid #d1d1d1; border-radius:5px; background:#fff; color:#404040; font-size:12px; font-weight:bold;} 
.fbxm .enter{ margin:50px auto 0; display:block; width:200px; height:40px; line-height:40px; border-radius:5px; background:#ff7500; text-align:center; color:#fff; font-size:20px; font-weight:bold;}