/*Login*/
.login-from{ padding:90px 15px 0;}
.login-from .option{ width:245px; margin:0 auto; overflow:hidden; margin-bottom:28px; color:#111; font-size:20px;}
.login-from .radiobox{ width:1px; height:1px; position:absolute; top:0; left:-100px;}
.login-from .option label{ float:left; line-height:20px;}
.login-from .option label .wbtn{ float:left; width:18px; height:18px; margin-right:14px; display:inline-block; background-color:#999; border:1px solid #999; border-radius:10px; line-height:18px;}
.login-from .radiobox:checked+label .wbtn{ width:18px; height:18px; border-color:#5a8ece; background:#5a8ece; line-height:18px; border-radius:10px;}


.logingroup{ height:44px; border-radius:8px; background:#acacae; marign-bottom:10px;}
.logingroup label{ float:left; width:44px; height:44px; background:url(../images/username.png) center no-repeat; background-size:30px 30px;}
.logingroup input{ float:left; width:50%; height:20px; line-height:20px; padding:12px 5px; background:none; color:#fff; font-size:18px;}
.login-from .username{ margin-bottom:10px;}
.login-from .password label{ background:url(../images/password.png) center no-repeat; background-size:30px 30px;}
.login-from .loging{ margin:20px 0 15px; width:100%; height:44px; border-radius:8px; background:#69cd9f; color:#fff; font-size:18px; marign-bottom:10px;}
.login-from .apply{ height:16px; line-height:16px;}
.login-from .apply .quick{ color:#000;}
.login-from .apply .member{ float:right; color:#666;}
.login-from .copyright{ margin:120px 0 30px; line-height:18px; text-align:center; color:#181818; font-size:12px;}
.login-from .copyright a{ color:#02b302;}
.login-from .copyright a:hover{ color:#02b302;}
.login-from .copyright a:visited{ color:#02b302;}