/*列表页*/

/*Search*/
.search{ height:30px; padding:0 10px; margin:9px 0 10px 0;}
.search .area,.search .company{ float:left; width:70px; height:16px; line-height:16px; padding:6px 5px; border:1px solid #d1d1d1; border-radius:5px; background:none; color:#595959; font-size:14px; font-weight:bold;}
.search .area{ width:20%; margin-right:11px;}
.search .company{ width:42%;}
.search .search-btn{ float:right; width:60px; height:26px; background:#58b5e1; border:1px solid #37a3d6; border-radius:5px; margin-right:5px; line-height:26px; cursor:pointer; text-align:center; color:#fff; font-size:14px; font-weight:bold;}

.comm { padding:5px; border:1px solid #dcdcdc; border-radius:5px; overflow:hidden; margin-bottom:10px;}
.comm dt{ position:absolute; margin-right:12px;}
.comm dt img{ width:80px; height:80px;}
.comm dd{ padding-left:92px; line-height:20px; color:#333; font-size:12px; font-weight:bold;}

/*详细页*/
/*Detail*/
/*.mation-box{ padding:5px; overflow:hidden; border:2px solid #dcdcdc; border-radius:5px; overflow:hidden;}
.mation{ overflow:hidden;}
.mation dt{ position:absolute;}
.mation dt img{ width:80px; height:90px;}
.mation dd h3{ line-height:20px; }
.mation dd{ padding-left:92px; line-height:18px; color:#333; font-size:12px; font-weight:bold;}
.mation-box .contact p{ line-height:22px; font-size:12px; font-weight:bold;}
.mation-box .contact{ position:relative;}
.mation-box .contact p.adress{ margin-top:2px; padding-left:14px; background:url(../images/adress.png) 0 center no-repeat; background-size:10px 13px;}
.mation-box .contact p span{ color:#14b467;}
.mation-box .contact a.guan{ position:absolute; top:3px; right:0px; float:right; width:55px; height:25px; marign:8px 2px 0 0; padding-left:13px; border-radius:5px; background:#ee7814 url(../images/heart.png) 5px center no-repeat; background-size:18px 16px; line-height:25px; text-align:center; color:#fff; font-size:12px; font-weight:bold;}
*/
.detail-text{ padding:10px 0;line-height:22px; text-indent:2em;}


/*CompanyDetail*/
.company-box{ position:relative; padding:5px; overflow:hidden; border:2px solid #dcdcdc; border-radius:5px; overflow:hidden; background:#fff;}
.company{ overflow:hidden;}
.company dt{ position:absolute;}
.company dt img{ width:80px; height:90px;}
.company dd h3{ line-height:22px; }
.company dd{ position:relative; min-height:91px; padding-left:92px; line-height:18px; color:#333; font-size:12px; font-weight:bold;}
.company-box a.guan{ position:absolute; display:block; right:5px; top:110px; height:25px; padding:0 10px 0 30px; border-radius:5px; background:#ee7814 url(../images/heart.png) 5px center no-repeat; background-size:18px 16px; line-height:25px; color:#fff; font-size:12px; font-weight:bold;}
.company-box .contact1 p{ margin-top:2px; line-height:22px; font-size:12px; font-weight:bold;}
.company-box .contact1 p.adress{ padding-left:14px; background:url(../images/adress.png) 0 center no-repeat; background-size:10px 13px;}


/*CompanyDetailLogin*/
.company-box .contact2{ font-size:12px; font-weight:bold;}
.company-box .contact2 p{ line-height:22px;}
.company-box .contact2 .qq{ heigtht:22px; line-height:22px;}
.company-box .contact2 .qq img{ wdith:22px; height:22px; vertical-align:middle; margin-left:10px;}
.company-box .contact2 .tel{ heigtht:22px; line-height:22px;}
.company-box .contact2 .tel img{ wdith:22px; height:22px; vertical-align:middle; margin-left:10px;}
.company-box .contact2 .tel{ heigtht:22px; line-height:22px; background-size:22px 22px;}
.company-box .contact2 p.adress{ padding-left:14px; height:22px; line-height:22px; background:url(../images/adress.png) 0 center no-repeat; background-size:10px 13px;}


.company-box1 .company dd h3{ line-height:22px; }
.company-box1 .company dd{ line-height:22px; color:#333; font-size:12px; font-weight:bold;}


/*基地资料*/
.base-info{ padding:10px 10px;}
.base-info p{ line-height:30px; overflow:hidden; margin-bottom:10px;}
.base-info p label{ float:left; font-size:14px; font-weight:bold;}
.input101{ width:50%; height:16px; line-height:16px; padding:6px; border:1px solid #d1d1d1; border-radius:5px; background:#fff; color:#404040; font-size:12px; font-weight:bold;}
.base-info p .selectbox{ height:28px; border:1px solid #d1d1d1; border-radius:5px; background:#fff; color:#404040; font-size:12px; font-weight:bold; }

.base-info .req{ display:block; width:95.3%; height:60px; line-height:16px; padding:6px; border:1px solid #d1d1d1; border-radius:5px; background:#fff; color:#404040; font-size:12px; font-weight:bold;} 
.base-info .enter{ float:right; width:110px; height:40px; line-height:40px; border-radius:5px; background:#ff7500; text-align:center; color:#fff; font-size:20px; font-weight:bold;}


/*我的发布*/
.searchbox{ margin:8px 0 10px;}
.searchbox1{ height:30px; margin-bottom:10px;}
.searchbox1 select{ float:left; width:35%; height:30px; padding:0 6px; margin-right:10px; border:1px solid #d1d1d1; border-radius:5px; background:#fff; color:#404040; font-size:12px; font-weight:bold;}
.searchbox2{ overflow:hidden;}
.searchbox2 .write{ float:left; width:66.3%; height:14px; line-height:14px; padding:7px 9px; border:1px solid #d1d1d1; border-radius:5px; background:#fff; color:#404040; font-size:12px; font-weight:bold;}
.searchbox2 .search-btn{ float:right; width:60px; height:30px; padding:7px 0 6px; background:#58b5e1; border:1px solid #37a3d6; border-radius:5px; cursor:pointer; text-align:center; color:#fff; font-size:14px; font-weight:bold;}
.wdfb-box { padding:8px 6px 8px 8px; border:1px solid #dcdcdc; border-radius:5px; box-shadow:1px 1px 3px #dedede; overflow:hidden; background:#fff; margin-bottom:10px;}
.wdfb-box dl{ margin-bottom:10px;}
.wdfb-box dl dt{ position:absolute;}
.wdfb-box dl dt img{ width:90px; height:100px;}
.wdfb-box dl dd{ padding-left:100px; min-height:100px; line-height:20px; color:#333; font-size:12px; font-weight:bold;}
.wdfb-box .pub{ width:240px; height:40px; margin:0 auto;}
.wdfb-box .pub a.finish{ float:left; width:98px; height:38px; line-height:38px; border:1px solid #f07003; border-radius:5px; background:#ff7500; text-align:center; color:#fff; font-size:18px; font-weight:bold;}
.wdfb-box .pub a.modify{ float:right; width:98px; height:38px; line-height:38px; border:1px solid #0bb563; border-radius:5px; background:#19c170; text-align:center; color:#fff; font-size:18px; font-weight:bold;}


/*项目列表*/
.project-box { padding:8px; border:1px solid #dcdcdc; border-radius:5px; box-shadow:1px 1px 3px #dedede; overflow:hidden; background:#fff url(../images/project-icon.png) right bottom no-repeat; background-size:55px 59px; margin-bottom:10px;}
.project-on{ background:#fff url(../images/project-icon-h.png) right bottom no-repeat; background-size:55px 59px;}
.project-box dl dt{ position:absolute;}
.project-box dl dt img{ width:80px; height:80px;}
.project-box dl dd{ padding-left:93px; min-height:81px; line-height:20px; color:#333; font-size:12px; font-weight:bold;}
.project-box .pub{ width:240px; height:40px; margin:0 auto;}
.project-box .pub a.finish{ float:left; width:98px; height:38px; line-height:38px; border:1px solid #f07003; border-radius:5px; background:#ff7500; text-align:center; color:#fff; font-size:18px; font-weight:bold;}
.project-box .pub a.modify{ float:right; width:98px; height:38px; line-height:38px; border:1px solid #0bb563; border-radius:5px; background:#19c170; text-align:center; color:#fff; font-size:18px; font-weight:bold;}