/*我的关注*/
.comm-btn{ position:relative; margin:10px auto; width:148px; height:30px; line-height:30px; border:2px solid #ec7b1c; border-radius:5px; background:#f48221;}
.comm-btn li{ position:absolute; top:-2px; left:-2px; float:left; width:73px; height:30px; border:2px solid #ec7b1c; border-radius:5px; cursor:pointer; text-align:center; color:#fff; font-size:18px;}
.comm-btn li.on{ border:2px solid #e56a02; border-radius:5px; background:#eb6c01;}

.dismore{ margin:30px auto 0; width:150px; height:40px; display:block; line-height:40px; border-radius:5px; background:#f5cba8; text-align:center; color:#333; font-size:18px; font-weight:bold;}