.wrapClassDetail{
  .classTitle{
    padding: 5px 10px;
    text-align: center;
  }
  .classVideo{
    width: 100%;
    .videoStyle{
      width: 100%;
      margin-bottom: -5px;
    }
  }
  .classDetail{
    background-color: #FAFAF9;
    overflow-x: hidden;
    .classCate{
      .row{
        padding: 0;
        height: 40px;
        .col{
          padding: 0;
          height: 40px;
          line-height: 40px;
          text-align: center;
        }
      }
    }
    .classChapter{
      .list{
        .singleClass{
          padding: 15px 10px 15px 10px;
          color: #A9A5A0;
          ul{
            padding-left: 40px;
            list-style-type: decimal;
            li{
              position: relative;
              padding-top: 5px;
              i{
                position: absolute;
                left: -38px;
              }
            }
          }
        }
        .item{
          //position: relative;
          .icon{
            font-size: 12px;
          }
        }
      }
    }
    .classIntro{
      padding: 10px 10px;
    }
  }
}