.wrapComment {

    .title {
        font-size: 18px;
        padding: 8px 12px;
        border-bottom: 1px solid #ccc;
    }

    h2 {
        font-size: 14px;
    }

    .content {
        margin: 6px 0;

        p {
            white-space: normal !important;
        }
    }

    .wrapSubList {
        .subItem {
            .whiteSpaceNormal();
            color: #666;
            font-size: 13px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .operateBtns {
        color: #999;
        text-align: right;
        font-size: 15px;

        .time {
            float: left;
            font-size: 12px;
        }

        i {
            margin-right: 8px;
            margin-left: 16px;
        }
    }

    .wrapAddComment {
        height: 60px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: #fff;
        line-height: 60px;
        text-align: center;
        border-top: 1px solid #ddd;
        z-index: 999;
        font-size: 16px;
        padding: 0 12px;
    }
}

.warpCommentDialog {
    height: 200px !important;

    .checkbox input:before, .checkbox-icon:before {
        border-radius: 0px;
    }

    .opeateBox {
        text-align: right;

        .button {
            padding: 0px 12px;
            min-height: 0px;
            min-width: 0px;
            font-size: 12px;
            height: 30px;
            line-height: 30px;
        }

        label.checkbox {
            position: relative;
            margin-right: 18px;
            font-size: 12px;

            input {
                display: inline-block;
                width: 18px;
                height: 18px;
            }

            span {
                position: relative;
                top: -4px;
            }
        }

        .checkbox input:after, .checkbox-icon:after {
            top: 25%;
            left: 20%;
        }
    }

    .warpOperate {
        .item {
            border-color: transparent;
            background-color: transparent;
        }
    }
}

.wrapArticleContent .operateBtns {
    position: relative;
    left: 27px;

    span {
        position: relative;
        top: 6px;
        font-size: 19px;
    }
}

    .wrapArticleContent .operateBtns i {
        font-size: 28px;
    }

.wrapComment .list {
    margin: 12px;
}
