.contentLogin {
    min-height: 310px;
    padding: 20px 0px 0px 0px;

    .login-head {
        margin: auto;
        width: 120px;
        background: #FF8E00;
        color: #ffffff;
        height: 38px;
        line-height: 36px;
        border: 1px solid rgb(246, 131, 26);
        font-size: 18px;
        border-radius: 5px;
        text-align: center;
    }

    .login-body {
        border: 1px solid #E6E2E2;
        margin: 20px 80px 50px 80px;
        border: 1px solid #E6E2E2;
        border-radius: 8px;
        padding: 50px 0px 60px 0px;
    }

    .control-label {
        margin-top: 7px;
    }

    .form-control {
        display: inline;
        width: 95%;
    }

    .row {
        padding: 20px 0px 0px 0px;

        .col-xs-4 {
            padding: 0px 8px;
        }
    }

    .btn-login {
        width: 150px;
        background-color: #ff8e00;
        color: #fff;
        padding: 0px;
        height: 35px;
        border-color: rgb(246, 131, 26);
    }

        .btn-login:hover {
            background-color: #ff8e00 !important;
        }
}

.company {

    .logo-border {
        width: 120px;
        height: 120px;
        float: left;

        .company-logo {
            width: 90%;
            height: 90%;
            border-radius: 10px;
        }
    }

    .company-phone {
        margin-top: 10px;

        .company-wx {
            padding-left: 10px;
            color: #FF8E00;
            cursor: pointer;
        }
    }

    .company-add {
        text-align: right;
        margin-top: 10px;
        font-size: 16px;

        a {
            cursor: pointer;
            color: #ff8e00;
            text-decoration: none;
        }
    }

    .company-fabu {
        margin-top: 20px;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }

    .company-content {
        margin-top: 20px;
        border-bottom: 1px dashed #e4cdcd;
        padding-bottom: 20px;

        .img-border {
            height: 180px;
            width: 220px;
            float: left;

            .bowen-img {
                width: 100%;
                height: 100%;
            }
        }

        .content-border {
            margin-left: 230px;

            .head {
                font-size: 17px;
                font-weight: bold;
            }

            .user {
                margin-top: 10px;

                .userimg {
                    float: left;
                    margin: 0px 0px 0px 0px;
                }

                .username {
                    float: left;
                    margin: 10px 10px 0px 0px;
                    color: #FF8E00;
                    font-size: 14px;
                }

                .time {
                    float: left;
                    font-size: 14px;
                    margin: 10px 0px 0px 0px;
                }
            }

            .icon {
                margin-top: 55px;

                .pv {
                    float: left;
                }

                .comment {
                    margin-left: 70px;
                }
            }

            .buttom {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 25px;
                margin-top: 10px;
            }
        }
    }

    .company-head-right {
        text-align: center;

        .border-logo {
            margin-top: 10px;

            .btn-update {
                background: #f88e00;
                color: #fff;
                width: 70px;
                height: 25px;
                padding: 0px;
            }
        }

        .border-wire {
            border-top: 1px solid #ccc;
            padding-top: 20px;
            margin-top: 20px;

            .align-left {
                font-size: 13px;
                width: 150px;
                height: 30px;
                margin: auto;
                text-align: left;

                .img-left {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    .company-info {
        position: relative;
        padding: 0px 0px 0px 104px;
        min-height: 144px;

        .company-logo-div {
            width: 104px;
            height: 104px;
            padding: 2px;
            position: absolute;
            left: 0px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 10px;
            }
        }

        .company-row1 {
            height: 30px;
            font-size: 21px;
            margin-left: 12px;

            span {
                font-size: 14px;
                color: #ff8e00;
                margin-left: 10px;
            }
        }

        .company-row2 {
            height: 40px;
            line-height: 40px;

            .company-phone {
                margin-left: 12px;
                font-size: 13px;
                display: inline;
            }

            .company-empty {
                margin-left: 20px;
            }

            .company-wx {
                color: #ff8e00;
                font-size: 13px;
                cursor: pointer;
                display: inline;
            }
        }

        .company-describe {
            margin-left: 12px;
            line-height: 20px;
            min-height: 40px;
            overflow: hidden;
            color: #aaa;
        }

        .company-add-content {
            text-align: right;
            margin-top: 10px;
            font-size: 16px;

            a {
                cursor: pointer;
                color: #ff8e00;
                text-decoration: none;
            }
        }
    }

    .release-head {
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        padding-left: 15px;
        margin-top: 20px;
    }

    .company-release {
        .company-release-item {
            position: relative;
            margin: 0px 0px;
            padding: 15px 0px;

            .col-xs-4 {
                padding: 0px 10px 0px 0px;
            }

            .col-xs-8 {
                padding: 5px 0px 0px 10px;

                .title {
                    font-size: 20px;
                    color: black;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    line-height: 30px;
                    height: 30px;
                    cursor: pointer;
                    word-wrap: break-word;
                    word-break: normal;
                }

                .company-operation {
                    text-align: right;
                    height: 0px;

                    .icon-edit {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: relative;
                        top: -30px;
                    }

                    .icon-del {
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                        cursor: pointer;
                        position: relative;
                        top: -30px;
                    }
                }
            }

            .release-img {
                width: 192px;
                height: 164px;
                cursor: pointer;
            }

            .head {
                height: 34px;
                line-height: 34px;

                .userimg {
                    display: inline;
                    margin: -10px 0px 0px 0px;
                    padding: 1px;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                }

                .username {
                    display: inline;
                    margin: 0px 10px 0px 0px;
                    color: #FF8E00;
                    font-size: 14px;
                }

                .time {
                    display: inline;
                    font-size: 14px;
                }
            }

            .context {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 21px;
                height: 63px;
                cursor: pointer;
                word-wrap: break-word;
                word-break: normal;
            }



            .icon {
                height: 34px;
                line-height: 34px;

                .comment {
                    position: absolute;
                }

                .zan {
                    position: absolute;
                    left: 15%;
                    padding-bottom: 2px;
                }

                .score {
                    position: absolute;
                    left: 23%;
                }
            }
        }

        .borderdesh {
            border-bottom: 1px dashed #e4cdcd;
        }
    }

    .right-content {
        text-align: center;

        .right-head {
            font-size: 17px;
        }

        .right-img {
            padding: 10px;

            img {
                width: 200px;
                height: 270px;
                border-radius: 8px;
            }
        }

        .right-update {
            .btn-update {
                background: #f88e00;
                color: #fff;
                width: 70px;
                height: 25px;
                padding: 0px;
            }
        }
    }

    .right-buttom {

        .right-ziliao {
            text-align: left;
            margin-top: 30px;
            margin-left: 20px;
            font-size: 13px;
        }

        .right-pwd {
            text-align: left;
            margin-top: 30px;
            margin-left: 20px;
            font-size: 13px;

            img {
                margin-left: 4px;
            }
        }
    }
}

.user {

    .user-info {
        position: relative;
        padding: 0px 0px 0px 134px;
        min-height: 144px;

        .user-avatar {
            width: 134px;
            height: 134px;
            padding: 2px;
            position: absolute;
            left: 0px;

            img {
                width: 130px;
                height: 130px;
                border-radius: 5px;
            }
        }

        .user-row1 {
            height: 30px;

            .font-nick {
                font-size: 21px;
                margin-left: 12px;
                display: inline;
            }

            .color-xingji {
                color: #f88e00;
                display: inline;
            }
        }

        .btn-jiahaoyou {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 75px;
            height: 25px;
            background-color: #ff8e00;
            color: #fff;
            padding: 0px;
            line-height: 23px;
            border-color: rgb(246, 131, 26);
        }

        .btn-delhaoyou {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 75px;
            height: 25px;
            color: #fff;
            padding: 0px;
            line-height: 23px;
            background-color: #FF1200;
            border-color: rgb(255, 16, 6);
        }

        .user-row2 {
            height: 40px;
            line-height: 40px;

            .user-phone {
                margin-left: 12px;
                font-size: 13px;
                display: inline;
            }

            .company-wx {
                margin-left: 20px;
                color: #ff8e00;
                font-size: 13px;
                cursor: pointer;
                display: inline;
            }
        }

        .user-content {
            margin-left: 12px;
            line-height: 20px;
            min-height: 40px;
            overflow: hidden;
            color: #aaa;
            word-wrap: break-word;
            word-break: normal;
        }

        .user-add-content {
            text-align: right;
            margin-top: 10px;
            font-size: 16px;

            a {
                cursor: pointer;
                color: #ff8e00;
                text-decoration: none;
            }
        }
    }

    .total-nav {
        height: 60px;
        width: 100%;
        margin-top: 10px;

        .table {
            text-align: center;
            display: table;

            .cell {
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;
            }

            .tdGray {
                background: #F5F4F3;
                font-size: 13px;
                height: 60px;
                border: 1px solid #e7E5E2;
                border-right: solid 0px #e7E5E2;
                width: 20%;
                color: #333;
            }

                .tdGray:last-child {
                    border-right: solid 1px #e7E5E2;
                }

            .tdYellow {
                background: #FF8E00;
                font-size: 13px;
                height: 60px;
                border: 1px solid #FF8E00;
                width: 20%;
                color: #ffffff;
            }
        }
    }

    .border-comment {
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        padding-left: 15px;
        margin-top: 20px;
    }

    .user-div {
        margin-top: 15px;
    }



    .right-content {
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;

        .right-title {
            font-size: 17px;
        }

        .right-taobi {
            font-size: 40px;
            color: #ff8e00;
        }

        .right-taobi-friends {
            font-size: 40px;
            color: #ff8e00;
        }

        .right-buttom {
            margin-top: 10px;

            .btn-cz {
                color: #fff;
                width: 105px;
                background: #ff8e00;
                border-color: rgb(246, 131, 26);
            }

            .btn-tx {
                color: #fff;
                width: 105px;
                margin-left: 30px;
                background: #ff8e00;
                border-color: rgb(246, 131, 26);
            }
        }
    }

    .right-buttom {
        .right-ziliao {
            text-align: left;
            margin-top: 30px;
            margin-left: 20px;
            font-size: 13px;
        }

        .to-share {
            .qrcodeimg {
                width: 15px;
                height: 15px;
                margin-left: 8px;
                cursor: pointer;
            }

            span {
                margin-left: 6px;
            }
        }
    }
}



.comment-item {
    position: relative;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0px 15px 0px;

    .head {
        padding-left: 40px;
        height: 30px;
        line-height: 30px;

        .userimg {
            width: 40px;
            height: 40px;
            padding: 2px;
            position: absolute;
            left: 0px;
            top: 15px;

            img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
        }

        .btn {
            width: 40px;
            height: 21px;
            margin: 0px 5px;
            padding: 0px;
            border: 0px;
            font-size: 10px;
            background: #ff8e00;
            color: #fff;
            line-height: 21px;
            cursor: none;
        }

        .neight {
            background: #FF1200;
            color: #fff;
        }

        .wuping {
            background: #4e99f2;
            color: #fff;
        }


        .username {
            float: left;
            margin: 0px 5px;
            color: #FF8E00;
            font-size: 14px;
            max-width: 350px;
            overflow: hidden;
            height: 30px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .time {
            float: left;
            font-size: 14px;
            margin: 0px 5px;
        }
    }

    .content {
        height: 64px;
        min-height: 64px;
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        padding: 5px 0px 5px 38px;
        color: #333;
        cursor: pointer;
        word-wrap: break-word;
        word-break: normal;
    }

    .buttom {
        text-align: right;
        line-height: 30px;
        height: 30px;
        color: #666;

        .comment {
            display: inline;
        }

        .zan {
            display: inline;
        }

        .score {
            display: inline;
        }
    }

    .comment-operation {
        .btn-del {
            width: 55px;
            height: 27px;
            padding: 0;
            color: #fff;
            background: red;
            font-size: 10px;
            margin-left: 38px;
        }
    }
}


.bowen-item {
    position: relative;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0px 15px 0px;

    .head {
        padding-left: 40px;
        height: 40px;
        line-height: 30px;

        .userimg {
            width: 40px;
            height: 40px;
            padding: 2px;
            position: absolute;
            left: 0px;
            top: 15px;

            img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
        }

        .username {
            float: left;
            margin: 0px 5px;
            color: #FF8E00;
            font-size: 14px;
            max-width: 350px;
            overflow: hidden;
            height: 30px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .time {
            float: left;
            font-size: 14px;
            margin: 0px 5px;
        }
    }

    .bowen-title {
        font-size: 18px;
        line-height: 30px;
        height: 30px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: normal;
    }


    .bowen-icon {
        line-height: 36px;
        height: 36px;
        color: #666;

        .comment {
            display: inline;
        }

        .zan {
            display: inline;
        }

        .score {
            display: inline;
        }
    }

    .bowen-content {
        cursor: pointer;
        line-height: 21px;
        height: 63px;
        min-height: 63px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: #333;
        word-wrap: break-word;
        word-break: normal;
    }

    .bowen-operation {
        margin-top: 15px;

        .btn-edit {
            width: 55px;
            height: 27px;
            padding: 0px;
            margin-right: 10px;
        }

        .btn-del {
            width: 55px;
            height: 27px;
            padding: 0;
            color: #fff;
            background: red;
            font-size: 10px;
        }
    }
}

.user-stock {
    padding: 8px 0px;

    .col-xs-6:nth-child(2n) {
        padding: 8px 0px 8px 8px;
    }

    .col-xs-6:nth-child(2n+1) {
        padding: 8px 8px 8px 0px;
    }

    .user-stock-top {
        border: 1px solid #f6F6F5;
        border-radius: 5px;

        .stock-img {
            width: 308px;
            height: 234px;

            img {
                cursor: pointer;
            }

            .positionText {
                position: absolute;
                top: 9px;
                font-size: 16px;
                padding: 8px;
                color: #FDFDFD;
                background-color: #ff8e00;
                border-bottom-right-radius: 4px;
            }

            .positionText1 {
                position: absolute;
                top: 9px;
                font-size: 16px;
                padding: 8px;
                color: #FDFDFD;
                background-color: #E41717;
                border-bottom-right-radius: 4px;
            }

            img {
                width: 308px;
                height: 234px;
                border-radius: 5px 5px 0px 0px;
            }
        }

        .stock-title {
            height: 41px;
            padding: 10px 10px;

            .title {
                cursor: pointer;
            }

            span {
                line-height: 21px;
                height: 21px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                float: left;
                max-width: 232px;
                word-wrap: break-word;
                word-break: normal;
            }

            .btn-type {
                background: #ff8e00;
                color: #fff;
                height: 21px;
                font-size: 10px;
                margin-left: 5px;
                line-height: 8px;
                border-color: #f6831a;
            }
        }


        .stock-user {
            height: 21px;
            padding: 0px 10px;

            .username {
                max-width: 180px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                float: left;
                display: -webkit-box;
                line-height: 21px;
                height: 21px;
            }

            .time {
                line-height: 21px;
                height: 21px;
                float: left;
                margin: 0px 0px 0px 5px;
            }
        }

        .stock-content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 24px;
            padding: 5px 10px;
            height: 59px;
            word-wrap: break-word;
            word-break: normal;
            cursor:pointer;
        }

        .stock-buttom {
            padding: 0px 10px 10px 10px;
            color: #ff4a49;
            font-size: 18px;
        }
    }

    .user-stock-buttom {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

        .button-red {
            width: 55px;
            height: 27px;
            padding: 0px;
            color: #fff;
            background: #ff0000;
            font-size: 10px;
        }

        .button-gray {
            width: 55px;
            height: 27px;
            padding: 0px;
            color: #333;
            background: #f5f4f3;
            font-size: 10px;
        }
    }
}

.list-friend {

    .friend-info {
        position: relative;
        padding: 15px 0px 15px 94px;
        min-height: 124px;
        border-bottom: 1px dashed #dddddd;

        .user-avatar {
            width: 94px;
            height: 94px;
            padding: 2px;
            position: absolute;
            left: 0px;
            cursor: pointer;

            img {
                width: 90px;
                height: 90px;
                border-radius: 5px;
            }
        }

        .user-row1 {
            height: 22px;

            .font-nick {
                font-size: 16px;
                margin-left: 10px;
                display: inline;
                cursor: pointer;
            }

            .color-xingji {
                color: #f88e00;
                display: inline;
            }
        }

        .btn-jiahaoyou {
            position: absolute;
            right: 5px;
            top: 20px;
            width: 75px;
            height: 25px;
            background-color: #ff8e00;
            color: #fff;
            padding: 0px;
            line-height: 23px;
            border-color: rgb(246, 131, 26);
        }

        .btn-delhaoyou {
            position: absolute;
            right: 5px;
            top: 20px;
            width: 75px;
            height: 25px;
            color: #fff;
            padding: 0px;
            line-height: 23px;
            background-color: #FF1200;
            border-color: rgb(255, 16, 6);
        }

        .user-row2 {
            height: 30px;
            line-height: 30px;

            .user-phone {
                margin-left: 10px;
                font-size: 13px;
                display: inline;
            }

            .company-wx {
                margin-left: 20px;
                color: #ff8e00;
                font-size: 13px;
                cursor: pointer;
                display: inline;
            }
        }

        .user-content {
            color: #aaa;
            margin-left: 10px;
            line-height: 21px;
            min-height: 42px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            word-break: normal;
        }

        .user-add-content {
            text-align: right;
            margin-top: 10px;
            font-size: 16px;

            a {
                cursor: pointer;
                color: #ff8e00;
                text-decoration: none;
            }
        }
    }
}


//修改资料

.layui-layer-edit {
    .layui-layer-title {
        padding: 0 80px 0 20px;
        border-bottom: 1px solid rgb(246, 131, 26);
        font-size: 16px;
        color: rgb(255, 255, 255);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: rgb(255, 142, 0);
        border-radius: 2px 2px 0 0;
    }

    .layui-layer-content {
        overflow: hidden !important;

        .dlg-compony {
            width: 600px;
        }

        .row {
            padding: 5px;

            .col-xs-2, .col-xs-4, .col-xs-3, .col-xs-5, .col-xs-9, .col-xs-10 {
                padding: 2px;
                min-height: 42px;
            }

            .col-xs-3 {
                padding: 8px 2px 2px 2px;
            }

            .col-xs-9 {
                .user-edit-logo {
                    width: 50px;
                    height: 50px;
                }
            }

            .col-xs-12 {
                line-height: 30px;
                text-align: center;
                position: relative;

                .user-edit-ex3 {
                    width: 200px;
                    height: 272px;
                }

                #ex3file {
                    width: 200px;
                    height: 272px;
                    position: absolute;
                    top: 0px;
                    filter: alpha(opacity=0);
                    -moz-opacity: 0;
                    -khtml-opacity: 0;
                    opacity: 0;
                    cursor: pointer;
                }
            }

            .userhead {
                position: relative;

                #logofile {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 0px;
                    filter: alpha(opacity=0);
                    -moz-opacity: 0;
                    -khtml-opacity: 0;
                    opacity: 0;
                    cursor: pointer;
                }
            }

            .sendCode {
                border-color: rgb(246, 131, 26);
                background-color: rgb(255, 142, 0);
                color: rgb(255, 255, 255);
            }

            .trCode {
                display: none;
            }

            .for-view {
                cursor: pointer;
                margin: 7px 5px 0px 5px;
            }
        }
    }

    .layui-layer-btn {
        text-align: right;
        padding: 0 6px 6px 6px !important;
        pointer-events: auto;

        a {
            border: 1px solid #dedede;
            margin: 0 5px;
            background-color: #f1f1f1;
            color: #333;
            border-radius: 2px;
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;
        }

        .layui-layer-btn0 {
            border-color: rgb(246, 131, 26);
            background-color: rgb(255, 142, 0);
            color: rgb(255, 255, 255);
        }

        .btn-edit {
            border-color: rgb(246, 131, 26);
            background-color: rgb(255, 142, 0);
            color: rgb(255, 255, 255);
        }
    }
}

.bottom-pager {
    margin-top: 30px;
    text-align: center;
}

.UnReadMsg {
    color: #FF1200;
}

.btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus,
.btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover {
    background-color: #ff8e00;
    border: 1px solid #f6831a;
}
