.recharge {
    margin: 10px 15px 30px 15px;
    min-height: 350px;

    .recharge-head {
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        padding: 10px 15px;
    }

    .recharge-content {
        padding: 30px 100px;

        .recharge-warp {
            border: 1px solid #eee;
            border-radius: 10px;
            padding: 20px 80px;

            .row-warp {
                height: 50px;
                padding: 10px;
                label{
                    margin-right:10px;
                }
            }
            .warp-num{
                span{
                    font-size: 16px;
                    margin-left:5px;
                }
                .recharge-num{
                    width: 160px;
                    display: inline;
                }
            }
            .warp-tj {
                span {
                    padding: 5px 15px;
                    font-size: 16px;
                    cursor:pointer;
                }

                .selected {
                    border-color: rgb(246, 131, 26);
                    background-color: rgb(255, 142, 0);
                    color: rgb(255, 255, 255);
                    border-radius:5px;
                }
            }
            .warp-rmk{
                span{
                    font-size: 16px;
                }
                .warp-money{
                    color:rgb(255, 142, 0);
                    margin:0px 5px;
                }
            }
            .warp-btn {
                text-align:center;
                .btn-pay {
                    border-color: rgb(246, 131, 26);
                    background-color: rgb(255, 142, 0);
                    color: rgb(255, 255, 255);
                    width: 120px;
                }
            }
        }
    }
}
