.logo_pic{
	margin: 10px auto;
	width: 95%;
	height: 30%;
}
.logo_pic img{
	width: 100%;
}
.selector{
	height: 50%;
	margin:6% 2%;
	width: 96%;
}
.selector table{
	width: 100%;
}
.selector img{
	height: 50px;
}
.selector td{
	padding: 15px;

}
.selector td span{
	/*color: rgba(6, 6, 6, 0.21);*/
	display:block;
	margin-bottom: 10px;
	font-size: 16px;
	text-align: center;
}
.carousel-indicators{
	position: absolute;
	bottom:-10px;
}