<div class="container-fluid warpAboutContainer">
    <div class="row">
        <div class="col-xs-12 warpHB">
            <img src="img/hb.jpg" width="100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7  warpCompanyAbout cardMenu">
            <div class="content" ng-click="go('/47c38/details.chtml')">
                <div>
                    <img src="img/plane.png" />
                </div>
                <div>
                    <span class="lbTitle">企业简介</span>
                </div>
            </div>
        </div>
        <div class="col-xs-5  warpCompanyHistory cardMenu">
            <div class="content" ng-click="go('/47c3a/details.chtml')">
                <div>
                    <img src="img/camera.png" />
                </div>
                <div>
                    <span class="lbTitle">企业文化</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5  warpCompanyTeam cardMenu">
            <div class="content" ng-click="go('/47c36/details.chtml')">
                <div>
                    <img src="img/shoes.png" />
                </div>
                <div>
                    <span class="lbTitle">企业团队</span>
                </div>
            </div>
        </div>
        <div class="col-xs-7  warpCompanyRecruie cardMenu">
            <div class="content" ng-click="go('/47c34/details.chtml')">
                <div>
                    <img src="img/glasses.png" />
                </div>
                <div>
                    <span class="lbTitle">招聘信息</span>
                </div>
            </div>
        </div>
    </div>
</div>