<div class="container-fluid warpFilmContainer">
    <div class="row">
        <div class="col-xs-12 warpHB">
            <img src="img/hb.jpg" width="100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7  warpWDY cardMenu">
            <div class="content" ng-click="go('app.html#/articleList/521/微电影')">
                <div>
                    <img src="img/rollfilm.png" />
                </div>
                <div>
                    <span class="lbTitle">微电影</span>
                </div>
            </div>
        </div>
        <div class="col-xs-5  warpHistory cardMenu">
            <div class="content" ng-click="go('app.html#/articleList/517/史实记录')">
                <div>
                    <img src="img/plane2.png" />
                </div>
                <div>
                    <span class="lbTitle">史实记录</span>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="row">
        <div class="col-xs-12  warpDocumentary cardMenu">
            <div class="content" ng-click="go('app.html#/articleList/5060/纪录片')">
                <div class="floatL">
                    <img src="img/tank.png" />
                </div>
                <div class="floatL">
                    <span class="lbTitle">纪录片</span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>-->
        <div class="row" style="margin-top:10px;margin-bottom:20px;">
        
                <div class="col-xs-7  warpWDY cardMenu">
            <div class="content" style="background-color: #92cf68;" ng-click="go('app.html#/articleList/5060/纪录片')">
                <div>
                    <img src="img/jilupian.png" style="width:100px;"/>
                </div>
                <div>
                    <span class="lbTitle">记录片</span>
                </div>
            </div>
        </div>

        <div class="col-xs-5  warpHistory cardMenu">
            <div class="content" style="background-color:#DDDD15;" ng-click="go('app.html#/articleList/567/微小说')">
                <div>
                    <img src="img/weibook.png" style="width:60px;"/>
                </div>
                <div>
                    <span class="lbTitle">微小说</span>
                </div>
            </div>
        </div>



    </div>

</div>