<div class="container-fluid warpUpdateContainer">
    <div class="row">
        <div class="col-xs-12 warpHB">
            <img src="img/hb.jpg" width="100%" />
        </div>
    </div>
    <div class="row bottomRow">
        <div class="col-xs-7  warpWDY cardMenu">
            <div class="content" ng-click="go('/App/Cation/Wap/ActivityLlists.aspx')">
                <!-- <div>
                    <img src="img/badge.png" />
                </div>
                <div>
                    <span class="lbTitle">近期活动</span>
                </div> -->
                <ul>
                    <li><img src="img/badge.png" /></li>
                    <li><span class="lbTitle">近期活动</span></li>
                </ul>

            </div>
        </div>
        <div class="col-xs-5  warpHistory cardMenu">
            <div class="content" ng-click="go('app.html#/articleList/502/筹备进程')">
                <!-- <div>
                    <img src="img/lighter.png" />
                </div>
                <div>
                    <span class="lbTitle">筹备近筹</span>
                </div> -->
                <ul>
                    <li><img src="img/lighter.png" /></li>
                    <li><span class="lbTitle">筹备进程</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>