<div class="layout boxMain warpApplyman ">
    <div class="row">
        <div class="col-xs-9">
            <div class="subTitle clear">
                <span class="warpAskaleft">
                    <i class="iconfont icon-zhuiocn"></i>
                    <span class="titleText"><span class="hand" ng-click="go('#/userspace/'+pageData.id)">个人中心</span> > 申请专家</span>
                </span>
                <!--  <div class="warpSearchInput warpAskaright">
                    <div class="form-group">
                    <input ng-model='pageData.searchKeyword' type="search" class="form-control txtSearch" placeholder="搜索活动..." />
                   <div class="btnSearch" ng-click="pageFunc.loadData(true)"></div>
                   </div>
                </div> -->
            </div>
        </div>
        <div class="col-xs-3 inforRightBot">  
        </div>
    </div>
   <div class="warpBig">
     <div class="applyMainCon">
         <div class="applyMainOne">
             <div class="topA">
                什么是易劳的专家库?
                <span></span>
             </div>
             <div class="applyConA">
                 <p>
                     易劳的专家库由劳动法专家、劳动法专业律师及通晓劳动法律法规的人力资源专业人士组成，为企业和个人提供劳动法问题专业、及时的回答。经过严格审核成为专家后，将拥有专家加V身份，方便提问者查看。
                 </p>
             </div>

         </div>
         <div class="applyMainOne">
             <div class="topA">
                易劳为专家提供的展示平台
                <span></span>
             </div>
             <div class="applyConA">
                <h4>1.醒目的专家展示页面</h4>
                 <p>
                    成为专家后会进入到专家库页面，并拥有加V身份。专家页面显示专家的个人简介、权威专业的回答和文章。
                 </p>
                 <h4>2.独特的回答展示效果</h4>
                 <p>
                    专家的回答次数越多，在专家库中的排名越高，受关注程度也越高。
                 </p>
                 <h4>3.专家推荐</h4>
                 <p>
                    对于新加入的专家和表现卓越的专家会特别的推荐，并给专门的展示页面。在网友提问时也会出现在专家推荐栏中，方便网友直接发问，更具有针对性。
                 </p>
             </div>

         </div>
          <div class="applyMainOne">
             <div class="topA">
                成为易劳专家三部曲
                <span></span>
             </div>
             <div class="applyConA">
                <h4>1.来信申请 </h4>
                 <p>
                   请致信cs@easylaodongfa.com ，洽谈合作事宜。在邮件内容中注明：专家真实姓名、专家资历简介、专精领域、工作单位等信息，或者点击最下方一键关注，
工作人员会与你直接联系。
                 </p>
                 <h4>2.提供资料</h4>
                 <p>
                   经审核申请成功的单位请进一步提供专家照片、有效的联系方式。
                 </p>
                 <h4>3.回答问题</h4>
                 <p>
                    在易劳专家上线前每位专家有质量的回答不得少于15个，具备此条件后专家即可上线，成为我们的专家为网友排忧解难了！
                 </p>
             </div>

         </div>
         <div class="applyMainOne">
             <div class="topA">
                易劳专家的考核与管理
                <span></span>
             </div>
             <div class="applyConA">
                <p>易劳设立专家库的是为广大HR提供诚信可靠的回答，切实帮助解决实际问题，所以我们除了在最初的专家资格审核阶段非常严格，层层把关外，管理人员还会专家的回答进
行考核，基本要求如下：</p>
                <h4>1.质量要求</h4>
                 <p>
                  (1)专家回答中连续出现简短无知识性的回答，立即清理，情节严重者撤销专家资格；<br>
(2)专家的回答中出现恶意中伤他人或其他单位，立即清理，撤销专家资格；
                 </p>
                 <h4>2.数量要求</h4>
                 <p>
                   (1)每位专家每周不得少于与易劳商定的回答数量；<br>
(2)长时间不回答问题或者回答不合格者考虑撤销其专家资格；
                 </p>
                 <h4>3.投诉管理</h4>
                 <p>
                    (1)回答投诉<br>
当收到网友对专家回答的不良反馈时，管理人员会在一个工作日内通知专家或其接口人对专家进行提醒，情节严重(如抄袭他人答案)经提醒仍然再犯者撤销专家资格；<br>
(2) 专家资历投诉<br>
当收到来自公司外部或公司内部相关部门对专家资历的投诉时，管理人员将负责将收到投诉的具体内容发信给专家联系人，联系人发出后五个工作日内提供证明资料或修改
后物料。提供证明资料应客观真实，如由三方提供证明，请注明第三方的负责人，以便查验；知道管理人员将在收到证明材料或修改物料后三个工作日内答复投诉者、进行
修改操作。如联系人未能在规定时限内做出反应，视为放弃该专家资格。
                 </p>
             </div>

         </div>
         <div class="applyB">
             <button class="btn btn-primary caseExBot" ng-click="pageFunc.submitApply()">一键申请专家</button>
         </div>
     </div>

   </div>


   
    
</div>