<div class="layout boxMain warpApplyman ">
    <div class="row">
        <div class="col-xs-9">
            <div class="subTitle clear">
                <span class="warpAskaleft">
                    <i class="iconfont icon-zhuiocn"></i>
                    <span class="titleText"><span class="hand" ng-click="go('#/userspace/'+pageData.id)">个人中心</span> > 会员服务</span>
                </span>
            </div>
        </div>
        <div class="col-xs-3 inforRightBot">  
        </div>
    </div>
   <div class="warpBig">
     <div class="applyMainCon">
            <p class="memberP">为了提供更好的服务，我们特推出会员计划，成为易劳的会员，您个人将获得更具个性化的会员专享服务，您身边将积聚更优秀的成长伙伴
和导师，您将享有易劳及合作伙伴研讨会、课程等会员优惠计划。</p>
         <div class="applyMainOne">
             <div class="topA">
                什么是易劳的专家库?
                <span></span>
             </div>
             <div class="applyConA">
                 <p>
                     1.填写会员申请与协议<br>
2.易劳平台审核；<br>
3.签署会员协议、（缴纳会员费用）；<br>
                 </p>
             </div>

         </div>
         <div class="applyMainOne">
             <div class="topA">
                会员联系方式
                <span></span>
             </div>
             <div class="applyConA">
                 <p>
                   电话：021 53089477<br>
邮箱：cs@elao360.com
                 </p>
             </div>

         </div>
      
         
      
        
     </div>

   </div>


   
    
</div>