<div class="layout boxMain  warpUserIndex warpPass">
    <div class="row">
        <div class="col-xs-10">
            <div class="subTitle clear">
                <span class="warpAskaleft">
                    <i class="iconfont icon-zhuiocn"></i>
                    <span class="titleText"><span class="hand" ng-click="go('#/userspace/'+pageData.id)">个人中心</span> > 修改密码</span>
                </span>
            </div>
        </div>
        <div class="col-xs-2">
        </div>

    </div>
    <div class="warpPassCon">
        <form class="form-horizontal" ng-submit="pageFunc.updatePassword()">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">新密码：</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" ng-model="pageData.password1" placeholder="输入密码">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">确认新密码：</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" ng-model="pageData.password2" placeholder="再次输入密码">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label"></label>
                <div class="col-sm-4 passBot">
                    <button type="submit" class="btn btn-primary ">确认修改</button>
                </div>
            </div>
        </form>
    </div>
    
</div>