.notice {
    margin: 10px 15px 30px 15px;
    min-height: 350px;

    .notice-head {
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        padding: 10px 15px;
    }

    .notice-item {
        position: relative;
        border-bottom: 1px dashed #ccc;
        padding: 15px 0px;

        .head {
            height: 30px;
            line-height: 30px;
            cursor: pointer;

            .time {
                display: inline;
                height: 30px;
                margin-left: 20px;
            }

            .new {
                margin-left: 10px;
                border: solid #FF1200 1px;
                height: 30px;
                display: inline;
                padding: 0px 5px;
                font-size: 12px;
                color: #FF1200;
            }

            .title {
                float: left;
                font-size: 16px;
            }
        }

        .content {
            height: 64px;
            min-height: 64px;
            line-height: 21px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            padding: 5px;
            color: #333;
            word-wrap: break-word;
            word-break: normal;
            color: #1313F1;
            cursor: pointer;

            a, a:hover, a:visited {
                color: #3292e4;
                text-decoration: none;
            }

            .j-pass {
                margin-left: 40px;
                color: #ff8800;
                cursor: pointer;
                line-height: 30px;
            }

            .j-reject {
                margin-left: 15px;
                color: #FF1200;
                cursor: pointer;
                line-height: 30px;
            }
        }

        .action {
        }
    }

    .bottom-pager {
        text-align: center;
        margin-top: 20px;
    }
}
 .border-comment {
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        padding-left: 15px;
        margin-top: 20px;
    }
.contentLogin {
    min-height: 310px;
    padding: 20px 0px 0px 0px;

    .login-head {
        margin: auto;
        width: 120px;
        background: #FF8E00;
        color: #ffffff;
        height: 38px;
        line-height: 36px;
        border: 1px solid rgb(246, 131, 26);
        font-size: 18px;
        border-radius: 5px;
        text-align: center;
    }

    .login-body {
        border: 1px solid #E6E2E2;
        margin: 20px 80px 50px 80px;
        border: 1px solid #E6E2E2;
        border-radius: 8px;
        padding: 50px 0px 60px 0px;
    }

    .control-label {
        margin-top: 7px;
    }

    .form-control {
        display: inline;
        width: 95%;
    }

    .row {
        padding: 20px 0px 0px 0px;

        .col-xs-4 {
            padding: 0px 8px;
        }
    }

    .btn-login {
        width: 150px;
        background-color: #ff8e00;
        color: #fff;
        padding: 0px;
        height: 35px;
        border-color: rgb(246, 131, 26);
    }

        .btn-login:hover {
            background-color: #ff8e00 !important;
        }
}
