
.warpPupildebate {
    border: 2px solid #ccc;
    min-height: 300px;
    border-radius: 8px;
    margin: 40px 70px 40px 70px;

    .warp-left {
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
        line-height: 50px;
        border: 1px solid #C19494;
        width: 214px;
        height: 50px;
        border-radius: 5px;
        margin-left: 55px;
        margin-top: 115px;
        cursor: pointer;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .border1 {
        background: #E1A767;
    }

    .border2 {
        background: #866350;
    }

    .border3 {
        background: #5C5566;
    }
}
