<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=116.62.12.104;database=songhePlatform;uid=sa;pwd=songhe1!@#$" />
    <add key="logWrite" value="true" />
    <add key="logPath" value="D:\log\" />
    <add key="logDayNum" value="30" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.608.0" newVersion="1.1.608.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>