.wrapUpdate {
    .wrapBanner {
        background-color: #fff;
        height: 120px;

        .col {
            position: relative;

            .follow {
                float: left;
                margin: 5px;
                background-color: #00C57A;
                width: 60px;
                text-align: center;
                line-height: 30px;
                height: 30px;
                border-radius: 4px;
            }

            .choose {
                float: right;
                margin: 5px;
                background-color: #00C57A;
                width: 80px;
                text-align: center;
                line-height: 30px;
                height: 30px;
                border-radius: 4px;
            }
        }

        .avatar {
            padding: 5px;

            img {
                height: 100px;
                width: 120px;
            }
        }

        .title {
            font-size: 16px;
            margin: 6px 0;
            font-weight: bold;
        }

        .btnFilter {
            position: absolute;
            right: 6px;
            bottom: 6px;
            font-size: 14px;
        }
    }
}

.warpCommunityDialog {
    .list {
        #div:hover {
            background: #4996e3;
        }
    }
}
