.wrapDisCenter {
  .content {
    margin-bottom: 136px;
    .list-sale {
      margin-bottom: 0px;
      .imgstyle{
        top: 11px;
        left: 12px;
        max-width: 50px;
        max-height: 50px;
      }
    }
    .row-sale {
      padding: 0px;
      .col-sale {
        text-align: center;
        border: 1px solid #ddd;
        background-color: #fff;
      }
    }
    .list-active {
      .item:hover {
        background-color: #ECECEC;
      }
      .item {
        color: #999;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        .item-note {
          color: #FFB565;
          float: right;
          margin-right: 30px;
          font-size: 16px;
        }
        .icon {
          font-size: 15px;
        }
      }
      .first-divider {
        padding-top: 5px;
        padding-bottom: 5px;
        min-height: 12px;
      }
    }
  }
  .userHeader{
    background-image: url(http://files.comeoncloud.net/img/headerbg.png);
    height: 106px;
    background-size: 100% 100%;
    padding-top: 14px;
    padding-left: 14px;
    .userAvatar{
      width: 68px;
      height: 68px;
      -webkit-border-radius: 50px !important;
      -moz-border-radius: 50px !important;
      border-radius: 50px !important;
      border: 2px solid #5d657d;
      padding: 4px;
      background-size: 68px 68px;
      display: inline-block;
      position: relative;
    }
    .nickName{
//      position: absolute;
//      top: 36px;
//      left: 95px;
      color: #F7C403;
//      font-size: 20px;
      margin-right: 10px;
    }
    .levelName{
      color: #ffffff;;
    }
    p{
      color: #ffffff;
      margin-top: 6px;
    }
  }
  .divScore{
    position: absolute;
    right: 12px;
    bottom: 12px;
  }
  .wrapSaleAmount{
    .col{
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}