<div class="layout boxMain warpRegulations warpNews warpReguDetail wrapNeedToKnow">
    <div class="row">
        <div class="col-xs-12">
            <div class="boxMainText">
                <div class="warpReguDetails">
                    <div class="reguDetailsMainOne ">
                        <h4>{{pageData.article.title}}</h4>                        
                    </div>
                    <div class="reguDetailsMainTwo clear">
                        <div ng-bind-html="pageData.article.content">

                        </div>   
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>