.wrapCouponUsed {
    /*position: relative;
    top: -11px;*/
}

    .wrapCouponUsed .item {
        border-width: 0px;
        color: #999;
    }

    .wrapCouponUsed .item-divider {
        min-height: 325px;
    }

        .wrapCouponUsed .item-divider .item {
            margin-left: -13px;
            margin-right: -14px;
            margin-top: 10px;
            border-width: 0px;
        }

    .wrapCouponUsed .couponArea {
        height: 230px;
    }

    .wrapCouponUsed .item-divider .wrapBtn {
        height: 60px;
        text-align: center;
        line-height: 60px;
        background-color: #fff;
        margin-left: -14px;
        margin-right: -14px;
    }

    .wrapCouponUsed .wrapBtn .button {
        width: 105px;
        border-radius: 5px;
        margin-left: 108px;
        margin-top: 140px;
        background-color: #B2AEA8;
        border-color: #B2AEA8;
        min-height: 34px;
        line-height: 34px;
        position: relative;
        top: 12px;
    }

    .wrapCouponUsed .couponArea .imgArea {
        position: relative;
        top: -10px;
    }

        .wrapCouponUsed .couponArea .imgArea .floatImg {
            position: absolute;
            top: 102px;
            right: 21px;
            width: 101px;
        }

    .wrapCouponUsed .couponArea .numArea {
        position: relative;
        top: -124px;
        left: 108px;
        background-color: #fff;
    }

    .wrapCouponUsed .couponArea .imgArea .head {
        height: 204px;
        background-image: url("/Components/Coupon/m/static/img/bgImg.png");
        background-size: 359px;
        background-repeat: repeat;
        text-align: center;
        position: relative;
    }

    .wrapCouponUsed .couponArea .imgArea .content {
        width: 200px;
        position: relative;
        top: -148px;
        left: 65px;
    }

    .wrapCouponUsed .couponArea .imgArea .foot {
        color: #fff;
        position: relative;
        top: -140px;
        left: 75px;
    }

    .wrapCouponUsed .couponArea .imgArea .head .img {
        float: left;
        position: relative;
        top: 5px;
        margin-right: 7px;
        margin-left: 5px;
    }

    .wrapCouponUsed .couponArea .imgArea .head h5 {
        position: relative;
        top: 18px;
        left: -71px;
        color: #fff;
    }

    .wrapCouponUsed .couponArea .imgArea .head .Clear {
        clear: both;
    }
