.serviceRecordCtrl {
	.userAvatar {
		border-radius: 50% !important;
		width: 25%;
		margin-top: 10px;
		margin-bottom: 5px;
		border: 3px solid @colorPrimary;
	}
	
	.item {
		color: #878383;
		font-size: 14px !important;
	}
}